@charset "UTF-8";

.bundle-image, .offer-image, .product-image, .complete-bundle-image, .driver-image, .lightbox-image {
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
}

.placeholder {
	display: none;
}

.animate-enter {
	-webkit-transition: 1s linear all;
	transition: 1s linear all;
	opacity: 0;
}

.animate-enter.animate-enter-active {
	opacity: 1;
}

@-moz-keyframes spin {
		from {
		-moz-transform: rotate(0deg);
	}
		to {
		-moz-transform: rotate(360deg);
	}
	}

@-webkit-keyframes spin {
		from {
		-webkit-transform: rotate(0deg);
	}
		to {
		-webkit-transform: rotate(360deg);
	}
	}

@keyframes spin {
		from {
		transform: rotate(0deg);
	}
		to {
		transform: rotate(360deg);
	}
	}

#app-mask {
	width: 100%;
	height: 100%;
	z-index: 5000;
	position: absolute;
	top: 0;
	left: 0;
	background: #fff;
	opacity: 0;
}

#app.loaded #app-mask {
	display: none;
}

.app-update-indicator {
	font-size: 15px;
	width: auto;
	background: #f5f5f5;
	color: #333;
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -20px;
	opacity: 0;
	overflow: hidden;
	transition: opacity 500ms;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

#app.updating .app-update-indicator {
	opacity: 1;
}

.app-update-indicator .glyphicon {
	display: inline-block;
	padding: 10px;
	-moz-animation: spin 2s infinite linear;
	-o-animation: spin 2s infinite linear;
	-webkit-animation: spin 2s infinite linear;
	animation: spin 2s infinite linear;
}

.glyphicon.spin {
	-moz-animation: spin 2s infinite linear;
	-o-animation: spin 2s infinite linear;
	-webkit-animation: spin 2s infinite linear;
	animation: spin 2s infinite linear;
}

.app-update-show {
	display: none;
}

#app.updating .app-update-show {
	display: block;
}

.app-update-hide {
	display: block;
}

#app.updating .app-update-hide {
	display: none;
}

#app.updating #app-mask {
	display: block !important;
}

.requires-load {
	opacity: 0;
}

.loaded .requires-load {
	transition: opacity 500ms ease-in;
	opacity: 1;
}

@keyframes fadeAndScaleOut {
		from {
		opacity: 1;
	}
		to {
		opacity: 0;
		-webkit-transform: scale(0.7);
		transform: scale(0.7);
	}
	}

.am-fade-and-slide-top {
	-webkit-animation-duration: 0.3s;
	animation-duration: 0.3s;
	-webkit-animation-timing-function: ease-in-out;
	animation-timing-function: ease-in-out;
	-webkit-animation-fill-mode: backwards;
	animation-fill-mode: backwards;
}

.am-fade-and-slide-top.am-fade-and-slide-top-add, .am-fade-and-slide-top.ng-hide-remove, .am-fade-and-slide-top.ng-move {
	-webkit-animation-name: fadeAndSlideFromTop;
	animation-name: fadeAndSlideFromTop;
}

.am-fade-and-slide-top.am-fade-and-slide-top-remove, .am-fade-and-slide-top.ng-hide {
	-webkit-animation-name: fadeAndSlideToTop;
	animation-name: fadeAndSlideToTop;
}

.am-fade-and-slide-top.ng-enter {
	visibility: hidden;
	-webkit-animation-name: fadeAndSlideFromTop;
	animation-name: fadeAndSlideFromTop;
	-webkit-animation-play-state: paused;
	animation-play-state: paused;
}

.am-fade-and-slide-top.ng-enter.ng-enter-active {
	visibility: visible;
	-webkit-animation-play-state: running;
	animation-play-state: running;
}

.am-fade-and-slide-top.ng-leave {
	-webkit-animation-name: fadeAndSlideToTop;
	animation-name: fadeAndSlideToTop;
	-webkit-animation-play-state: paused;
	animation-play-state: paused;
}

.am-fade-and-slide-top.ng-leave.ng-leave-active {
	-webkit-animation-play-state: running;
	animation-play-state: running;
}

.last-price-row .btn, .additional-row .btn {
	min-width: 150px;
}

@media (min-width: 768px) {
	.last-price-row, .additional-row {
		width: 230px;
	}
}

.price-row {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	-moz-align-items: center;
	align-items: center;
	margin-bottom: 5px;
}

td.vertical-middle {
	vertical-align: middle !important;
}

td.bottom-padding {
	padding-bottom: 15px;
}

td.left-right-padding {
	padding-right: 10px;
}

td.fixed-height-small {
	height: 132px;
	padding-left: 10px;
}

td.fixed-height-large {
	height: 100px;
	padding-left: 10px;
}

.price-narrow {
	line-height: 14px;
}

.offer-table td {
	padding: 0 10px;
}

.offer-table td .no-padding {
	padding: 0;
}

tr.price-action-block {
	height: 42px;
}

.table-small tr, .table-small td {
	vertical-align: middle;
}

table tr td.v-center {
	vertical-align: middle;
}

.table-fixed {
	table-layout: fixed;
}

.table, .table-offer {
	width: 100%;
	display: table;
}

.table {
	padding: 0 10px;
}

.table .popover, .table-offer .popover {
	position: relative;
	max-width: none;
	display: block;
	box-shadow: none;
	z-index: 1;
	-webkit-box-shadow: none;
}

.table .popover .arrow:after, .table-offer .popover .arrow:after {
	border-bottom-color: #f7f7f7;
}

.table .popover-title, .table-offer .popover-title {
	border-top: 1px solid #ebebeb;
	border-radius: 0;
}

.table .popover-title:nth-of-type(1), .table-offer .popover-title:nth-of-type(1) {
	border-top: 0;
}

.under-driver-popover {
	height: 50px;
}

.tr {
	display: table-row;
}

.td {
	display: table-cell;
}

.table + .table {
	border-top: 2px solid #ddd;
}

.table > tbody + tbody {
	border: 0;
}

.table > .table-offer + .table-offer {
	border: 0;
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
	border-top: 0 !important;
	padding: 10px;
}

.table > thead > tr > th, .table > .table-offer > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > .table-offer > tr > td, .table > tfoot > tr > td {
	border-top: 0 !important;
	padding: 10px;
}

.table ~ .additional-row {
	margin-bottom: 0;
}

.additional-row {
	margin-bottom: 20px;
	padding-left: 94px;
}

.complete-total-caption {
	text-align: right;
}

.config-terms .last-price-row {
	vertical-align: top;
}

.config-terms .onepxtop, .offer-table .config-terms .onepxtop {
	border-top: none;
}

.onepxtop, .offer-table .onepxtop {
	border-top: 1px solid #ccc;
}

.fivepxbottom, .offer-table .fivepxbottom {
	padding-top: 5px;
	padding-bottom: 5px;
}

.onepxtop .price-row, .offer-table .onepxtop .price-row {
	margin-bottom: 0;
}

.onepxtop .price-item, .offer-table .onepxtop .price-item {
	margin: 2px 5px;
}

label.radio.choose > .bundle-image {
	margin-left: 0;
}

.bundle-image {
	width: 42px;
	height: 42px;
}

.description-image {
	width: 256px;
	height: auto;
	margin: 0 15px 15px 0;
}

.under-payment table {
	width: 100%;
}

.under-payment .offer-image {
	width: 130px;
	height: 130px;
}

.popover-content .offer-image {
	width: 48px;
	height: 48px;
}

.offer-image, .product-image {
	width: 64px;
	height: 64px;
}

.product-cell, .offer-cell {
	width: 84px;
}

.table-offer .popover.bottom > .arrow {
	left: 52px;
}

@media (min-width: 768px) {
	.product-image {
		width: 128px;
		height: 128px;
	}
	.product-cell {
		width: 148px;
	}
	.table-offer .popover.bottom > .arrow {
		left: 84px;
	}
	.offer-image {
		width: 128px;
		height: 128px;
	}
	.offer-cell {
		width: 148px;
	}
	.offer-image.in-cart {
		width: 96px;
		height: 96px;
	}
	.offer-cell.in-cart {
		width: 116px;
	}
}

.payment-option-display {
	width: 100%;
	padding-left: 5px;
}

.payment-option-selectable {
	display: block;
	width: 100%;
	float: left;
	border: 2px solid #eee;
	border-radius: 5px;
	text-align: left;
	-webkit-transition: border-color 0.2s ease-in-out;
	transition: border-color 0.2s ease-in-out;
	padding: 5px;
	font-size: 11px;
	color: #333;
	font-weight: 400;
	background-color: #fff;
}

.payment-option-selectable:not(.disable-payment), .payment-option-selectable input:not(.disable-payment) {
	cursor: pointer;
}

.payment-option-selectable:not(.disable-payment):hover, .payment-option-selectable.selected:not(.disable-payment) {
	background-color: #f5f5f5;
	border-color: #8A8A8A;
}

.payment-icon {
	width: 49px;
	height: 30px;
	display: inline-block;
	background-position: center center;
	background-size: contain;
	background-repeat: no-repeat;
	vertical-align: middle;
	color: #000;
	text-align: center;
	line-height: 30px;
	font-style: normal;
	font-weight: bold;
}

.payment-icon.small {
	width: 42px;
	height: 27px;
	opacity: 0.8;
}

.payment-icon.card {
	background-image: url('payment/cc.png');
}

.payment-icon.amazon {
	background-image: url('payment/amazon.png');
}

.payment-icon.paypal {
	background-image: url('payment/paypal.png');
}

.payment-icon.wire {
	background-image: url('payment/wire.png');
}

.payment-icon.purchaseorder {
	background-image: url('payment/wire.png');
}

.payment-icon.visa {
	background-image: url('payment/visa.png');
	border-radius: 5px;
}

.payment-icon.mastercard {
	background-image: url('payment/mastercard.png');
	border-radius: 5px;
}

.payment-icon.discover {
	background-image: url('payment/discover.png');
	border-radius: 5px;
}

.payment-icon.unionpay {
	background-image: url('payment/unionpay.png');
	border-radius: 5px;
}

.payment-icon.amex {
	background-image: url('payment/amex.png');
	border-radius: 5px;
}

.payment-icon.jcb {
	background-image: url('payment/jcb.png');
	border-radius: 5px;
}

.payment-icon.sofort {
	background-image: url('payment/sofort.png');
	border-radius: 5px;
}

.payment-icon.ideal {
	background-image: url('payment/ideal.png');
	border-radius: 5px;
}

.payment-icon.giropay {
	background-image: url('payment/giropay.png');
	border-radius: 5px;
}

.payment-icon.alipay {
	background-image: url('payment/alipay.png');
	border-radius: 5px;
}

.payment-icon.sepa {
	background-image: url('payment/sepa.png');
}

.payment-icon.applepay {
	background-image: url('payment/applepay.png');
}

.postal-spinner {
	float: left;
	margin-right: 5px;
	display: inline-block;
}

.postal-phrase {
	display: inline-block;
}

.pay-spinner-right {
	margin-right: 15px;
}

.cvv-hint {
	width: 64px;
	height: 64px;
	background-image: url('payment/cvv.jpg');
	background-size: 100%;
	background-position: center;
	background-repeat: no-repeat;
	display: block;
	margin: 0 auto;
}

.card-security-code-popover {
	width: 215px;
}

div.test-label {
	overflow: visible;
	text-align: center;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	height: 1px;
	z-index: 999999;
}

div.test-label span {
	display: inline-block;
	z-index: 999999;
	bottom: 10px;
	margin-top: 20px;
	font-size: 0.8em;
	padding: 5px 8px;
	text-transform: uppercase;
	cursor: pointer;
}

.underline-link {
	text-decoration: underline;
}

html, body {
	font-family: "Montserrat", "Helvetica Neue", Arial, sans-serif;
	height: 100%;
}

.btn {
	white-space: normal;
}

a {
	color: #000000;
	text-decoration: none;
	font-weight: normal;
}

a:hover {
	color: #000000;
	text-decoration: none;
	font-weight: bold;
}

.content {
	border-bottom: none;
	border: 0;
}

.content .product-title a, .content .offer-title a {
	font-weight: bold;
}

.subscriptions-well {
	margin: 0;
}

#content .dropdown-menu a:hover {
	text-decoration: none;
	outline: none;
}

a[ng-click] {
	cursor: pointer;
}

span.glyphicon.glyphicon.glyphicon-ok-circle.large {
	font-size: 110px;
	color: #5cb85c;
}

span.glyphicon.terms {
	font-size: 25px;
	padding: 7px;
}

.panel-custom .panel-heading {
	background-color: #F5F5F5;
	color: #333333;
	border-top-left-radius: inherit;
	border-top-right-radius: inherit;
}

.modal-content {
	border-radius: 0px !important;
}

.panel {
	border-radius: 0px !important;
}

.panel-footer {
	border-bottom-left-radius: 0px !important;
	border-bottom-right-radius: 0px !important;
}

.placeOrderBtn:not(.payment-option-selectable), .placeOrderBtn:not(.payment-option-selectable):focus {
	outline: none;
	color: #FFFFFF;
	background-color: #8A8A8A;
	border-color: #F0AD4E;
	border-radius: 4px !important;
	border-width: 2px !important;
	font-size: 14px !important;
}

.placeOrderBtn:not(.payment-option-selectable):hover {
	color: #FFFFFF;
	background-color: #404040;
	border-color: #FFCF00;
}

.disable-payment {
	opacity: 0.8;
}

.payment-option-container {
	overflow: hidden;
}

@supports (-webkit-appearance: -apple-pay-button) {
  .apple-pay-button {
    display: block;
    -webkit-appearance: -apple-pay-button;
  }
  .apple-pay-button-black {
    -apple-pay-button-style: black;
  }
}

@supports not (-webkit-appearance: -apple-pay-button) {
  .apple-pay-button {
    display: block;
    background-size: 100% 60%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    border-radius: 5px;
    padding: 0px;
    box-sizing: border-box;
    min-width: 200px;
    min-height: 32px;
    max-height: 64px;
  }
  .apple-pay-button-black {
    background-image: -webkit-named-image(apple-pay-logo-white);
    background-color: black;
  }
}

.apple-pay-payment-methods {
	background-color: white;
	z-index: 1000;
}

.apple-pay-button {
	background-color: #000;
	outline: none;
}

@keyframes fade-out {
		from {
		opacity: 0;
	}
		to {
		opacity: 1;
	}
	}

.other-payment-methods {
	animation: fade-out 500ms ease-in-out;
	margin-top: 5px;
	position: relative;
	z-index: 900;
}

.other-payments-button {
	text-align: center;
	padding: 0.5em 0;
	font-size: 0.9em;
	animation: fade-out 500ms ease-in-out;
	opacity: 1;
}

.addToCartBtn, .addToCartBtn:focus {
	outline: none;
	color: #FFFFFF;
	background-color: #5CB85C;
	border-color: #428BCA;
	border-radius: 4px !important;
	border-width: 0px !important;
	font-size: 14px !important;
}

.addToCartBtn:hover {
	color: #FFFFFF;
	background-color: #008000;
	border-color: #3071A9;
}

.crossSellBtn, .crossSellBtn:focus {
	outline: none;
	color: #FFFFFF;
	background-color: #428BCA;
	border-color: #428BCA;
	border-radius: 0px !important;
	border-width: 0px !important;
	font-size: 14px !important;
}

.crossSellBtn:hover {
	color: #FFFFFF;
	background-color: #3071A9;
	border-color: #3071A9;
}

.upSellBtn, .upSellBtn:focus {
	outline: none;
	color: #FFFFFF;
	background-color: #428BCA;
	border-color: #428BCA;
	border-radius: 0px !important;
	border-width: 0px !important;
	font-size: 14px !important;
}

.upSellBtn:hover {
	color: #FFFFFF;
	background-color: #3071A9;
	border-color: #3071A9;
}

.subTerms .panel, .p {
	margin-bottom: 5px;
}

.subTerms .panel .panel-body {
	padding: 5px;
}

.subTerms .panel.dim {
	opacity: 0.5;
}

.list-add-product-btn {
	margin-top: 5px;
}

.payment-icon.sub {
	margin-left: -5px;
}

.no-border {
	border-top: 0;
	border-bottom: 0;
	border-left: 0;
	border-right: 0;
	border: 0;
}

.popup-image {
	width: 300px;
	height: 250px;
	margin: auto;
	background-size: contain;
	background-image: url(https://d8y8nchqlnmka.cloudfront.net/M4tJVbQ6Szk/WXKDrzv8R58/save10Popup.jpg);
	background-repeat: no-repeat;
	background-position: center center;
}

.future-row + .future-row {
	margin-top: 5px;
	border-top: 1px solid #777;
	padding-top: 5px;
}

.comma {
	margin-left: -3px;
}

.label {
	display: inline-block;
	margin: 0 0 5px;
	vertical-align: middle;
}

.dotted {
	border-bottom: 1px dotted;
	cursor: pointer;
}

.dotted:hover {
	text-decoration: none;
}

.bordered-muted {
	border: 1px solid #777;
	border-radius: 4px;
}

.renews-block {
	padding: 1px 5px;
	margin: 3px 0;
}

.modal-header .close {
	margin-left: 15px;
}

.grey {
	background-color: #ececec;
}

.grey.modal-header {
	border-top-left-radius: 6px;
}

.grey.modal-footer {
	border-bottom-left-radius: 6px;
}

.offer-max-height {
	max-height: 130px;
	overflow: hidden;
}

.no-padding {
	padding: 0;
}

.no-margin {
	margin: 0;
}

.inline-block {
	display: inline-block;
}

.bottom-white-gradient {
	-webkit-mask-image: -webkit-gradient(linear, left 80%, left bottom, from(black), to(transparent));
}

.modal-footer.text-center {
	text-align: center;
}

.modal-footer.text-left {
	text-align: left;
}

.price-color {
	color: #000000;
}

.price-color-free {
	color: #5cb85c;
}

.price-item, .vertical-separator {
	display: inline-block;
	margin: 0 5px;
}

@media (max-width: 768px) {
	.sub-offer .price-item {
		display: flex;
	}
	.additional-row {
		float: right;
		padding: 5px 10px;
	}
	.col-md-9 table#the-subscription + .additional-row {
		margin: 0px 10px 20px 5px;
	}
}

@media (max-width: 360px) {
	table.offer-table {
		font-size: 12px;
	}
	.price-item.price {
		font-size: 14px;
	}
	.table {
		width: calc(100% - 30px);
	}
	td.description-cell {
		max-width: 110px;
	}
}

.row-with-coupon {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	-webkit-justify-content: flex-end;
	-moz-justify-content: flex-end;
	justify-content: flex-end;
}

.row-with-coupon button {
	margin-right: 15px;
}

.coupon-input {
	margin-right: 15px;
}

#order-coupons {
	display: inline-block;
	width: 170px;
}

.footer-B {
	background-color: white;
	opacity: 1;
	color: #555555;
	min-height: 38px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	bottom: 0;
	width: 100%;
	position: absolute;
	font-size: 10px;
}

.footer-B .container {
	display: inline-flex;
	display: -webkit-inline-flex;
	display: -ms-inline-flexbox;
	justify-content: center;
	align-items: center;
	padding: 10px 2px;
	max-width: 970px;
}

.footer-B .container a {
	color: orange;
}

.footer-B .container p {
	margin: 0;
}

.footer-B .container .footer-logo {
	margin-right: 14px;
	width: 165px;
}

.footer-A-list {
	position: absolute;
	width: 100%;
	bottom: 0;
}

.footer-A-list .container {
	word-break: break-word;
}

.footer-complete-list {
	position: absolute;
	width: 100%;
	bottom: 0;
}

.footer-complete-list .container {
	word-break: break-all;
}

.default-footer {
	background-color: white;
	width: 100%;
	padding: 10px;
	opacity: 1;
}

.default-footer .footer-logo {
	margin-right: 14px;
	width: 165px;
}

.default-footer .container {
	display: flex;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	align-items: center;
	font-size: 10px;
	min-height: 38px;
}

.default-footer .container p {
	margin-bottom: 0px;
}

.default-footer .container a {
	color: #428bca;
}

.footer-B-relative-shift, .footer-default-relative-shift {
	position: relative;
}

@media (max-width: 580px) {
	.footer-B, .footer-A-list, .footer-complete-list {
		position: relative;
	}
}

.selectedFooter {
	position: absolute;
}

@media (max-width: 440px) {
	.selectedFooter {
		position: relative;
	}
	.footer-B .container .footer-logo, .default-footer .container .footer-logo {
		width: 100px;
	}
}

.footer-A, .align-custom-footer {
	font-size: 1.2rem;
	background-color: #434343;
	padding-top: 20px;
	padding-bottom: 20px;
	color: #E1E1E1;
}

.footer-A a, .align-custom-footer a {
	color: #FFFFFF;
	text-decoration: none;
	font-weight: normal;
}

.footer-A a:hover, .align-custom-footer a:hover {
	color: #FFEA00;
	text-decoration: underline;
	font-weight: normal;
}

.body-footer {
	background-color: #E7E7E7;
	left: 0;
	right: 0;
	overflow: hidden;
	min-height: 100vh;
	position: absolute;
	background-image: url();
	background-repeat: repeat;
	background-attachment: scroll;
	background-clip: content-box;
	background-position: center top;
	
}

.app-content {
	min-height: calc(100vh - 45px);
}

#app-content {
	padding-bottom: 200px;
}

.container {
	max-width: 1000px;
}

.offer-title {
	font-size: 14px;
	font-size: 16px;
}

.offer-title span {
	color: #428bca;
}

.product-title {
	font-size: 14px;
	font-size: 18px;
	color: #777;
}

.group-display {
	color: #313641;
}

.complete-bundle-image {
	width: 64px;
	height: 64px;
}

.bundle-item + .bundle-item {
	margin-left: 9px;
}

.table .well {
	background-color: #f5f5f5;
}

.checkbox-item {
	width: 33px;
}

.price, .total-price {
	font-weight: bold;
	white-space: nowrap;
	font-size: 16px;
}

.total-label {
	font-weight: bold;
}

.total-well {
	padding: 10px;
	margin-bottom: 10px;
}

.updating .total-pay {
	display: none;
}

.total-price-refresh, .total-pay-refresh {
	display: none;
	-moz-animation: spin 2s infinite linear;
	-o-animation: spin 2s infinite linear;
	-webkit-animation: spin 2s infinite linear;
	animation: spin 2s infinite linear;
}

#app.updating .total-price {
	display: none;
}

#app.updating .total-price-refresh, #app.updating .total-pay-refresh {
	display: inline-block;
}

#app.updating.modal-open .total-price-refresh {
	display: none;
}

#app.updating.modal-open .total-price {
	display: inline-block;
}

.item-quantity-input {
	width: 5em;
}

.item-description-tooltip {
	cursor: pointer;
	padding-left: 5px;
}

.card-group {
	margin-top: 10px;
	padding-top: 15px;
	border-top: 1px solid #ccc;
}

.card-group.reqContactFalse {
	padding-top: 0;
	border-top: 0;
}

.language a {
	margin: 5px 0;
}

.country-icon {
	padding-left: 30px;
	background-repeat: no-repeat;
	background-position: left center;
}

.locale-lang:before {
	content: " (";
}

.locale-lang:after {
	content: ")";
}

.locale-lang-is-default {
	display: none;
}

.lightbox-title {
	font-size: 1.4em;
}

.driver-image {
	min-width: 128px;
	height: 128px;
}

.lightbox-image {
	min-width: 128px;
	height: 160px;
}

.inline-image {
	margin: 0 10px 0 0;
}

@media (min-width: 768px) {
	.flex {
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
	}
	.fl-center {
		-webkit-box-align: center;
		-ms-flex-align: center;
		-webkit-align-items: center;
		-moz-align-items: center;
		align-items: center;
	}
}

@media (min-width: 768px) {
	.product-dialog .modal-dialog, .lightbox-dialog .modal-dialog {
		width: 720px;
	}
	.dialog-small .modal-dialog {
		max-width: 400px;
	}
	.widgetDialog {
		text-align: center;
	}
	.widgetDialog .modal-dialog {
		width: auto;
		max-width: 700px;
		display: inline-block;
	}
}

@media (min-width: 992px) {
	.product-dialog .modal-dialog {
		width: 940px;
	}
}

.modal.remove-transform .modal-dialog {
	-webkit-transform: none;
	-moz-transform: none;
	-ms-transform: none;
	-o-transform: none;
	transform: none;
}

.relative {
	position: relative;
}

#panel-payment {
	margin-bottom: 10px;
}

#panel-payment .compliance {
	margin-bottom: 4px;
	min-height: 20px;
	border: 1px solid transparent;
}

.panel-default {
	box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.3);
	transition: border-color 5s;
}

.item-secondary-offer-display {
	font-size: 90%;
}

.item-secondary-offer-display em {
	text-transform: uppercase;
	color: #008000;
	font-style: normal;
}

.mailing-list-subscribe-area {
	font-size: 80%;
	margin: 5px 5px 15px;
	color: #999;
}

.mailing-list-subscribe-area label {
	font-weight: normal;
}

.input-checkbox {
	font-size: 80%;
	color: #999;
	margin: 0;
}

.form-control-half-inline {
	width: 49% !important;
	display: inline-block !important;
}

.navbar-header {
	float: left;
}

.navbar-btn .disabled {
	opacity: 1;
}

.navbar-right {
	float: right;
	vertical-align: middle;
	line-height: 70px;
}

.navbar-support-link {
	border: 1px solid #fff;
	border-radius: 5px;
	color: #EAEAEA;
	margin: 0 20px;
	padding: 5px 10px;
	text-decoration: none;
}

.navbar-support-link :hover {
	text-decoration: none;
}

.navbar {
	border-radius: 0;
	border-bottom: 2px solid #FFEA00 !important;
	background: #434343;
	background-image: url();
	background-repeat: no-repeat;
	border: 0;
	box-shadow: none;
}

.navbar .container {
	color: #EAEAEA;
}

#navbar-brand {
	height: 100%;
	margin-left: 0;
	display: block;
	padding: 19px 0px;
}

#navbar-brand a {
	display: inline-block;
}

.navbar-fixed-top + * {
	margin-top: -moz-calc(70px + 40px);
	margin-top: -webkit-calc(70px + 40px);
	margin-top: calc(70px + 40px);
}

.fluid .navbar-brand {
	height: auto;
}

.navbar-brand a .logo {
	display: inline-block;
	width: 100%;
	z-index: 2;
	position: relative;
}

.navbar-brand a .logo-retina {
	display: inline-block;
	z-index: 2;
	position: relative;
}

.navbar-brand a span.logo {
	width: 250px;
	height: 36px;
	background-image: url(https://d8y8nchqlnmka.cloudfront.net/M4tJVbQ6Szk/oTH0QsiVSmA/air_logo2012WH.png);
	display: inline-block;
	background-repeat: no-repeat;
	background-position: left center;
}

.navbar-brand a span.logo.logo-resize {
	background-size: contain;
}

.mb-10 {
	margin-bottom: 10px;
}

.norton-block {
	margin-bottom: 10px;
	display: flex;
	justify-content: center;
}

#header {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	-moz-align-items: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	-moz-justify-content: center;
	justify-content: center;
	text-align: center;
	padding: 0 20px;
	height: 70px;
}

#header p {
	margin: 0;
}

#header a {
	color: #FFFFFF;
	text-decoration: none;
	font-weight: normal;
}

#header a:hover {
	color: #FFEA00;
	text-decoration: none;
	font-weight: normal;
}

.loading-sticky {
	position: -webkit-sticky;
	position: sticky;
	top: 70px;
	text-align: center;
	overflow: visible;
	height: 0;
	width: 100%;
}

.success-mark {
	width: 80px;
	height: 128px;
	float: left;
	padding-left: 11px;
	padding-top: 20px;
	font-size: 43px;
}

.well.gift .glyphicon-gift {
	width: 80px;
	float: left;
	padding-left: 20px;
	font-size: 28px;
	color: #000000;
}

.well.gift p {
	margin: 5px 0;
}

button p {
	margin: 0;
}

.price-action-block td {
	padding: 0 10px !important;
}

.nowrap {
	white-space: nowrap;
}

.nowrap-text {
	min-width: 80px;
	white-space: nowrap;
}

.price-action-block .text-success {
	margin: 6px 0;
}

.radio, .checkbox {
	font-weight: normal;
}

.radio.choose, .checkbox.choose {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	-moz-align-items: center;
	align-items: center;
	height: 50px;
}

.radio.choose.config-contains-terms, .checkbox.choose.config-contains-terms {
	height: 30px;
}

.radio p, .checkbox p {
	display: inline;
}

.hideFree .radio.choose, .hideFree .checkbox.choose {
	height: initial;
}

.the-rest {
	line-height: 1rem;
}

.bundle-cell {
	width: 85px;
}

.description-cell label.choose {
	margin: 0;
}

.description-cell form {
	position: relative;
}

.config-choose .radio input[type=radio], .config-choose .radio-inline input[type=radio], .config-choose .checkbox input[type=checkbox], .config-choose .checkbox-inline input[type=checkbox] {
	top: 15px;
}

.config-choose.hideFree .radio input[type=radio], .config-choose.hideFree .radio-inline input[type=radio], .config-choose.hideFree .checkbox input[type=checkbox], .config-choose.hideFree .checkbox-inline input[type=checkbox] {
	top: 0;
}

.config-choose .config-contains-terms.radio input[type=radio], .config-choose .config-contains-terms.radio-inline input[type=radio], .config-choose .config-contains-terms.checkbox input[type=checkbox], .config-choose .config-contains-terms.checkbox-inline input[type=checkbox] {
	top: 5px;
}

.norton-medium table > tbody > tr > td > a, .norton-large table > tbody > tr > td > a, .norton-small table > tbody > tr > td > a {
	display: none;
}

.norton-medium table > tbody > tr > td > img, .norton-large table > tbody > tr > td > img, .norton-small table > tbody > tr > td > img {
	margin-top: 10px;
}

.norton-medium table, .norton-large table, .norton-small table {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.norton-medium img {
	width: 100px;
	height: 54px;
	background-image: url('norton/norton-medium.png');
	padding-left: 100px;
	background-size: 100px 54px;
	display: block;
}

.norton-large img {
	width: 115px;
	height: 62px;
	background-image: url('norton/norton-large.png');
	padding-left: 115px;
	background-size: 115px 62px;
	display: block;
}

.norton-small img {
	width: 80px;
	height: 34px;
	background-image: url('norton/norton-small.png');
	padding-left: 80px;
	background-size: 80px 34px;
	display: block;
}

.norton-hidden img {
	display: none;
}

@media only screen and (-Webkit-min-device-pixel-ratio: 1.5), only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min-device-pixel-ratio: 1.5) {
}

.downloadFulfillmentBtn, .downloadFulfillmentBtn:focus, .downloadFulfillmentBtn a, .downloadFulfillmentBtn a:focus, #bankTransfer .bankTransferBtn, #bankTransfer .bankTransferBtn:focus, #bankTransfer .bankTransferBtn a, #bankTransfer .bankTransferBtn a:focus, #purchaseOrder .purchaseOrderBtn, #purchaseOrder .purchaseOrderBtn:focus, #purchaseOrder .purchaseOrderBtn a, #purchaseOrder .purchaseOrderBtn a:focus {
	outline: none;
	color: #fff;
	background-color: #428bca;
	border-color: #428bca;
	border-radius: 4px !important;
	border-width: 0px !important;
	font-size: 14px !important;
}

.transfer-body {
	border: 1px solid #e5e5e5;
	margin: 20px;
}

.transfer-body div {
	margin-left: 0 !important;
}

.transfer-body .initiate {
	padding: 15px;
	font-size: 14px;
	font-weight: 500;
	color: #3e3f40;
	margin-bottom: 0;
}

.transfer-body .payment-message {
	font-size: 10px;
	color: #9f6e51;
}

.transfer-body .payment-message:before {
	content: "";
	background-image: url(high-light-mark.png);
	background-size: 100% 100%;
	display: inline-block;
	height: 10px;
	width: 10px;
	position: relative;
}

.transfer-body .instruction-heading, .transfer-body .instruction-text {
	margin: 0 !important;
}

.transfer-body .pr-heading, .transfer-body .instruction-heading {
	font-size: 12px;
	color: #474747;
}

.transfer-body .pr-text {
	font-size: 14px;
	color: #ff7217;
	font-weight: normal;
}

.transfer-body .instruction-value {
	font-size: 13px;
	color: #296611;
	font-weight: 500;
}

.processing-message {
	font-size: 12px;
	color: #3e3f40;
	margin: 0 25px 20px;
}

.purchase-body {
	padding: 15px;
}

.purchase-body .po-message {
	font-size: 14px;
	font-weight: 500;
	color: #3e3f40;
	margin-bottom: 15px;
}

.downloadFulfillmentBtn:hover, .downloadFulfillmentBtn a:hover, #bankTransfer .bankTransferBtn:hover, #bankTransfer .bankTransferBtn a:hover, #purchaseOrder .purchaseOrderBtn:hover, #purchaseOrder .purchaseOrderBtn a:hover {
	color: #fff;
	background-color: #3071a9;
	border-color: #3071a9;
	text-decoration: none;
}

#purchaseOrder .purchaseOrderBtnSecond, #purchaseOrder .purchaseOrderBtnSecond:focus, #purchaseOrder .purchaseOrderBtnSecond a, #purchaseOrder .purchaseOrderBtnSecond a:focus {
	background-color: transparent;
	border-radius: 4px !important;
	font-size: 14px !important;
	color: #428bca;
	border-color: #428bca;
	border-width: 1px;
}

#purchaseOrder .purchaseOrderBtnSecond:hover, #purchaseOrder .purchaseOrderBtnSecond a:hover {
	color: #3071a9;
	background-color: transparent;
	border-color: #3071a9;
	text-decoration: none;
}

p.downloadFulfillmentBtn, p.bankTransferBtn, p.purchaseOrderBtn, p.purchaseOrderBtnSecond {
	display: inline-block;
}

.fulfillment {
	margin: 0 0 10px;
}

.fulfillment-button {
	margin: 5px 0 10px;
}

.fulfillment-license {
	white-space: pre-line;
}

.complete-footer {
	font-size: 11px;
	line-height: 18px;
}

.complete-footer a {
	font-size: 12px;
}

.logo-retina {
	opacity: 0;
}

.wire-transfer td:nth-child(2) {
	overflow-wrap: break-word;
	word-wrap: break-word;
	word-break: break-word;
	hyphens: auto;
}

.contact-info {
	font-size: 1.3rem;
}

.contact-info .glyphicon {
	margin-right: 8px;
}

.contact-info a {
	font-size: 1.2rem;
}

.dropdown-caret select.has-error {
	border-color: #a94442;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.dropdown-caret select {
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
}

.dropdown-caret select::-ms-expand {
	display: none;
}

.dropdown-caret::before {
	background-image: url(dropdown-caret.svg);
	background-size: 8px 8px;
	content: "";
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	width: 25px;
	background-position: center center;
	background-repeat: no-repeat;
	pointer-events: none;
}

.panel-default.panel-focus {
	border-color: #ff6347;
}

.taxInfo div {
	color: #999999;
}

.recipient-message {
	color: #696969;
}

.recipient-message label {
	font-weight: normal;
	margin-bottom: 0;
}

.recipient-form textarea {
	font-weight: normal;
	height: 131px;
	width: 100%;
	resize: none;
}

.recipient-block {
	padding: 10px;
}

hr.recipient-break {
	border-color: #999;
	margin-top: 12px;
	margin-bottom: 0;
}

.recipient-memo-limit {
	float: right;
	font-size: 11px;
	padding-top: 4px;
	color: #696969;
}

.fastspringTermsAndConditionsOfSale {
	text-align: center;
	font-size: 12px;
	color: #777777;
}

label.radio.choose.config-contains-terms {
	height: 100%;
}

#three-ds-authentication-wrapper {
	text-align: center;
}

#three-ds-authentication-wrapper #three-ds-authentication {
	position: relative;
	z-index: 10000;
	width: auto;
	height: 500px;
	border: none;
}