/*Montserrat*/
@font-face {
    font-family: 'Montserrat';
	src: url("Montserrat-Regular.otf") format("opentype");
 
    font-weight: normal;
    font-style: normal;
}



/*FiraSans*/
@font-face {
    font-family: 'FiraSans';
	src: url("FiraSans/FiraSans-Regular.otf") format("opentype");
 
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'FiraSans';
	src: url("FiraSans/FiraSans-Bold.otf") format("opentype");
 
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'FiraSans';
	src: url("FiraSans/FiraSans-Italic.otf") format("opentype");
 
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'FiraSans';
	src: url("FiraSans/FiraSans-BoldItalic.otf") format("opentype");
 
    font-weight: bold;
    font-style: italic;
}


/*Lato*/
@font-face {
    font-family: 'Lato';
	src: url("Lato/Lato-Regular.ttf") format("truetype");
 
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Lato';
	src: url("Lato/Lato-Bold.ttf") format("truetype");
 
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Lato';
	src: url("Lato/Lato-Italic.ttf") format("truetype");
 
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'Lato';
	src: url("Lato/Lato-BoldItalic.ttf") format("truetype");
 
    font-weight: bold;
    font-style: italic;
}


/*OpenSans*/
@font-face {
    font-family: 'OpenSans';
	src: url("OpenSans/OpenSans-Regular.ttf") format("truetype");
 
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'OpenSans';
	src: url("OpenSans/OpenSans-Bold.ttf") format("truetype");
 
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'OpenSans';
	src: url("OpenSans/OpenSans-Italic.ttf") format("truetype");
 
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'OpenSans';
	src: url("OpenSans/OpenSans-BoldItalic.ttf") format("truetype");
 
    font-weight: bold;
    font-style: italic;
}

/*OpenSansCondensed*/
@font-face {
    font-family: 'OpenSansCondensed';
	src: url("OpenSansCondensed/OpenSans-CondLight.ttf") format("truetype");
 
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'OpenSansCondensed';
	src: url("OpenSansCondensed/OpenSans-CondBold.ttf") format("truetype");
 
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'OpenSansCondensed';
	src: url("OpenSansCondensed/OpenSans-CondLightItalic.ttf") format("truetype");
 
    font-weight: normal;
    font-style: italic;
}

/*SourceSansPro*/
@font-face {
    font-family: 'SourceSansPro';
	src: url("SourceSansPro/SourceSansPro-Regular.otf") format("opentype");
 
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'SourceSansPro';
	src: url("SourceSansPro/SourceSansPro-Bold.otf") format("opentype");
 
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'SourceSansPro';
	src: url("SourceSansPro/SourceSansPro-Italic.otf") format("opentype");
 
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'SourceSansPro';
	src: url("SourceSansPro/SourceSansPro-BoldItalic.otf") format("opentype");
 
    font-weight: bold;
    font-style: italic;
}


/*Roboto*/
@font-face {
    font-family: 'Roboto';
    src: url('Roboto-Regular_macroman/Roboto-Regular-webfont.eot');  /* IE9 Compatibility Modes */
    src: url('Roboto-Regular_macroman/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'), 
         url('Roboto-Regular_macroman/Roboto-Regular-webfont.woff') format('woff'), 
         url('Roboto-Regular_macroman/Roboto-Regular-webfont.ttf') format('truetype'), 
         url('Roboto-Regular_macroman/Roboto-Regular-webfont.svg#robotoregular') format('svg'); /* Legacy iOS */
    font-weight: normal;
    font-style: normal;
}

/*RobotoCondensed*/
@font-face {
    font-family: 'RobotoCondensed';
    src: url('Roboto-Condensed_macroman/RobotoCondensed-Regular-webfont.eot');
    src: url('Roboto-Condensed_macroman/RobotoCondensed-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('Roboto-Condensed_macroman/RobotoCondensed-Regular-webfont.woff') format('woff'),
         url('Roboto-Condensed_macroman/RobotoCondensed-Regular-webfont.ttf') format('truetype'),
         url('Roboto-Condensed_macroman/RobotoCondensed-Regular-webfont.svg#roboto_condensedregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/*PTSans*/
@font-face {
    font-family: 'PTSans';
	src: url("PTSans/PTSans-Regular.ttf") format("truetype");
 
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'PTSans';
	src: url("PTSans/PTSans-Bold.ttf") format("truetype");
 
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'PTSans';
	src: url("PTSans/PTSans-Italic.ttf") format("truetype");
 
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'PTSans';
	src: url("PTSans/PTSans-BoldItalic.ttf") format("truetype");
 
    font-weight: bold;
    font-style: italic;
}


/*DroidSans*/
@font-face {
    font-family: 'DroidSans';
	src: url("DroidSans/DroidSans-Regular.ttf") format("truetype");
 
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'DroidSans';
	src: url("DroidSans/DroidSans-Bold.ttf") format("truetype");
 
    font-weight: bold;
    font-style: normal;
}


/*Ubuntu*/
@font-face {
    font-family: 'Ubuntu';
	src: url("Ubuntu/Ubuntu-Regular.ttf") format("truetype");
 
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Ubuntu';
	src: url("Ubuntu/Ubuntu-Bold.ttf") format("truetype");
 
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Ubuntu';
	src: url("Ubuntu/Ubuntu-Italic.ttf") format("truetype");
 
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'Ubuntu';
	src: url("Ubuntu/Ubuntu-BoldItalic.ttf") format("truetype");
 
    font-weight: bold;
    font-style: italic;
}

/*UbuntuCondensed*/
@font-face {
    font-family: 'UbuntuCondensed';
	src: url("UbuntuCondensed-Regular.ttf") format("truetype");
 
    font-weight: normal;
    font-style: normal;
}