/**
 * Must be verbatim and not processed by SASS
 */

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak],
.ng-cloak, .x-ng-cloak,
.ng-hide:not(.ng-animate) {
	display: none !important;
}

ng\:form {
	display: block;
}
