<!DOCTYPE html>
<html id="ng-app" ng-app="app" ng-controller="controller" ng-init="page='complete'" ng-csp="" class="ng-scope"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta id="viewBranch" name="version" content="Version-0.20.1-stable">

    <title ng-bind="variables.title" class="ng-binding">AIR Music Checkout</title>

    <link rel="shortcut icon" href="https://d8y8nchqlnmka.cloudfront.net/M4tJVbQ6Szk/GRoXzL98RHw/Screen_Shot_2017-05-10_at_9.47.01_AM.png">

    <link rel="stylesheet" href="AIR%20Music%20Checkout-Dateien/common_002.css">

    <link rel="stylesheet" href="AIR%20Music%20Checkout-Dateien/ng-csp.css">
    <link rel="stylesheet" href="AIR%20Music%20Checkout-Dateien/common.css">

    <!-- Include one of selected fonts from cdn   -->
    <!-- ngIf: variables.font != 'Helvetica-Neue' --><link ng-if="variables.font != 'Helvetica-Neue'" ng-href="https://d1f8f9xcsvx3ha.cloudfront.net/fonts/fonts.css" rel="stylesheet" type="text/css" class="ng-scope" href="AIR%20Music%20Checkout-Dateien/fonts.css"><!-- end ngIf: variables.font != 'Helvetica-Neue' -->
<link rel="stylesheet" type="text/css" href="AIR%20Music%20Checkout-Dateien/style.css"></head>


<!-- Body -->
<body id="app" class="loaded">
<div class="body-footer">
    <div id="app-content">

        <div class="navbar navbar-default requires-load" ng-class="{'fluid' : (variables.logoHandling == 'resizeHeader'), 'navbar-fixed-top' : ((!variables.logoHandling == 'resizeHeader') || (variables.topbarFreezing == 'true')) }">
            <!-- ngIf: !session.live -->

            <div class="container">
                <div class="navbar-header">
                    <div id="navbar-brand" class="navbar-brand">
                        <a href="http://www.airmusictech.com/" target="_blank">
                            <!-- ngIf: variables.logoHandling == 'resizeLogo' -->

                            <img retina-image="" class="logo-retina ng-hide" alt="logo" ng-hide="(variables.logoHandling == 'resizeLogo') || variables.logo || variables.logoRetina" ng-src="https://d37uz57cydkqly.cloudfront.net/CompiledViews/M4tJVbQ6Szk/7QtbTunXTeo/resources/fastspring.checkout@2x.png" src="AIR%20Music%20Checkout-Dateien/fastspring.png" style="opacity: 1;" width="225">
                            <!-- ngIf: (variables.logo) && (!variables.logoRetina) -->
                            <!-- ngIf: variables.logoRetina --><img retina-image="" class="logo-retina ng-scope" alt="logo" ng-hide="variables.logoHandling == 'resizeLogo'" ng-if="variables.logoRetina" src="AIR%20Music%20Checkout-Dateien/air_logo2012WH.png" style="opacity: 1;" width="75"><!-- end ngIf: variables.logoRetina -->
                        </a>
                    </div>
                </div>

                <nav id="header" ng-show="variables.header" class="">
                    <div class="inline-block ng-binding" ng-bind-html="variables.header"><p><a href="https://airmusictech.onfastspring.com/"> Products </a><a href="http://www.airmusictech.com/company"> Company </a><a href="http://community.airmusictech.com/airmusictech"> Community </a><a href="http://www.airmusictech.com/news"> News </a><a href="http://www.airmusictech.com/store"> Store </a><a href="http://www.airmusictech.com/support"> Support </a><a href="http://airmusictech.onfastspring.com/account">My Account</a></p></div>
                </nav>

                <a href="" class="navbar-support-link hidden ng-binding"> Support </a>
            </div>
        </div>


        <div id="content" class="content">
            <div class="container requires-load">

                <div class="well" ng-hide="pending">
                    <div class="glyphicon glyphicon-ok success-mark text-success"></div>
                    <h3 class="ng-binding">Vielen Dank für Ihre Bestellung!</h3>
                    <p class="ng-binding">Wir senden eine Kopie aller wichtigen Bestellinformationen an Ihre E-Mail-Adresse.</p>
                    <!--<div><a href="{{accountManagement}}" target="_blank"> {{'ManageYourOrders' | phrase}}</a></div>-->
                </div>

                <!-- ngIf: order.gift -->


                <!-- ngIf: pending && bankPaymentWireInstruction != null -->

                <!-- ngIf: pending && purchaseOrderInstruction -->

                <!--
                    Order Contents
                 -->
                <div id="panel-order" class="panel panel-custom panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title text-left ng-binding" ng-class="{'text-center': variables.textAlign == 'center', 'text-right': variables.textAlign == 'right'}">
                            <!-- ngIf: session.live == false -->
                            Ihre Bestellung
                        </h3>
                    </div>

                    <table class="table table-fixed">
                        <!-- begin order level groups -->
                        <!-- ngRepeat: orderGroup in groups --><tbody ng-repeat="orderGroup in groups" class="ng-scope">

                        <!-- begin top level items -->
                        <!-- ngRepeat: item in orderGroup.items --><tr class="hidden ng-scope" ng-repeat-start="item in orderGroup.items"></tr>

                        <!-- show top level item -->
                        <!--  complete tpl goes here -->
                        <tr ng-class="item.styleClass" complete-item="" item="item" id="CMM-Vacuum-Pro" language="language" class="ng-scope ng-isolate-scope">
    <td class="product-cell" align="center">
        <div ng-show="item.image" class="product-image" ng-style="imageStyle(item)" style="background-image: url(&quot;https://d8y8nchqlnmka.cloudfront.net/M4tJVbQ6Szk/wLWBs18oTWA/VacuumPro_DR_220x220.png&quot;);"></div>
    </td>
    <td>
        <div>
            <strong class="product-title">
                <span ng-bind-html="item.display" class="ng-binding">Vacuum Pro with Fresh AIR Pack Expansion</span>
            </strong>

            <!-- //Custom badges from attributes -->
            <!-- ngIf: item.bundle -->
            <!-- ngIf: item.attributes.customBadge -->

            <!-- ngIf: item.unitDiscountValue > 0 --><s class="small text-muted ng-binding ng-scope" ng-if="item.unitDiscountValue &gt; 0"> CHF&nbsp;172.99</s><!-- end ngIf: item.unitDiscountValue > 0 -->
            <span ng-class="{'text-success': item.priceValue == 0, 'text-danger price-color': item.priceValue != 0 &amp;&amp; item.priceValue != item.unitPriceValue, 'text-muted': item.priceValue != 0 &amp;&amp; item.priceValue == item.unitPriceValue}" ng-hide="variables.hideFree === 'true' &amp;&amp; showTerms &amp;&amp; item.unitDiscountValue === 0 &amp;&amp; item.unitPriceValue === 0" class="ng-binding text-danger price-color">
                CHF&nbsp;0.00
            </span>

            <!-- // x2 quantity -->
            <!-- ngIf: item.quantity --><span ng-if="item.quantity" class="label label-default ng-binding ng-scope"> x1 </span><!-- end ngIf: item.quantity -->
            <p class="item-terms ng-binding ng-hide" ng-show="item.terms" ng-bind-html="item.terms"></p>
        </div>

        <!-- //Renew/renews part -->
        <!-- ngIf: item.subscription -->


        <!-- // Files instructions licences -->
        <!-- ngInclude: 'files-instructions-licences.html' --><div ng-include="'files-instructions-licences.html'" class="ng-scope">
    <!-- //Download files -->
    <div class="fulfillment fulfillment-button ng-scope">
        <!--// one file to download-->
        <a target="_blank" ng-show="files.length == 1" class="btn btn-sm btn-primary downloadFulfillmentBtn ng-binding ng-hide" href="https://airmusictech.onfastspring.com/account/file/AIR201119-3286-58761F">
              Jetzt herunterladen
        </a>

        <!--//more than one file to download-->
        <div class="btn-group" dropdown="" ng-show="files.length &gt; 1">
            <button type="button" class="btn btn-sm btn-primary dropdown-toggle downloadFulfillmentBtn ng-binding" dropdown-toggle="" aria-haspopup="true" aria-expanded="false">
                Jetzt herunterladen <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <!-- ngRepeat: file in files --><li ng-repeat="file in files" class="ng-scope"><a target="_blank" href="https://airmusictech.onfastspring.com/account/file/AIR201119-3286-58761F" class="ng-binding">VacuumPro_1.0.7_Setup PC.zip (170.57MB)</a></li><!-- end ngRepeat: file in files --><li ng-repeat="file in files" class="ng-scope"><a target="_blank" href="https://airmusictech.onfastspring.com/account/file/AIR201119-3286-71754F" class="ng-binding">Vacuum Pro Fresh AIR Pack 1.1.0 Mac.dmg (1.64MB)</a></li><!-- end ngRepeat: file in files --><li ng-repeat="file in files" class="ng-scope"><a target="_blank" href="https://airmusictech.onfastspring.com/account/file/AIR201119-3286-54746F" class="ng-binding">VacuumProFreshAIRPack1-1.1.0_Setup.zip (1.37MB)</a></li><!-- end ngRepeat: file in files --><li ng-repeat="file in files" class="ng-scope"><a target="_blank" href="https://airmusictech.onfastspring.com/account/file/AIR201119-3286-59733F" class="ng-binding">VacuumPro_1.0.7_Setup Mac.dmg (157.59MB)</a></li><!-- end ngRepeat: file in files -->
            </ul>
        </div>
    </div>

    <!--// Licences-->
    <div class="fulfillment ng-scope" ng-show="variables.licenses == 'true' &amp;&amp; licenses">
        <!-- ngRepeat: license in licenses --><div ng-repeat="license in licenses" class="ng-scope">
            <!--//<span class="total-label" ng-show="license.display"> {{license.display}}: </span> -->
            <span class="fulfillment-license"> <!-- ngIf: license.license --><code ng-if="license.license" ng-bind-html="addBlankTargets(license.license)" class="ng-binding ng-scope">3055-2009-6289-0603-4974-3593-5237-91</code><!-- end ngIf: license.license --><br>  </span>
        </div><!-- end ngRepeat: license in licenses -->
    </div>

    <!-- //Instructions  -->
    <!-- ngIf: item.fulfillments.instructions --><p class="fulfillment ng-binding ng-scope" ng-if="item.fulfillments.instructions" ng-bind-html="addBlankTargets(item.fulfillments.instructions)"><p>Your
 download(s) will be available for 30 days from the date of purchase. If
 you require a longer download period, please purchase the extended 
download service.</p></p><!-- end ngIf: item.fulfillments.instructions -->

</div>

        <!-- // Display Bundles -->
        <!-- ngRepeat: ordergroup in item.groups -->


    </td>
    <td class="last-price-row hidden-xs" colspan="2">
        <!--div class="price-row" ng-if="!item.subscription || item.subscription.intervalUnit=='adhoc'">
            <div class="price {{item.unitPrice |priceColor}} price-item"> {{ item.total }}</div>
            <span class="label label-default price-item"> {{'x' + item.quantity}}</span>
        </div-->

        <!-- ngIf: !item.autoRenew || item.subscription.intervalUnit=='adhoc' --><!-- ngInclude: 'price-row.html' --><div ng-if="!item.autoRenew || item.subscription.intervalUnit=='adhoc'" ng-include="'price-row.html'" class="ng-scope">
    <!--//old price -->
    <!-- ngIf: item.unitDiscountValue --><small class="price-item text-muted ng-scope" ng-if="item.unitDiscountValue"><del class="ng-binding"> CHF&nbsp;172.99</del>
    </small><!-- end ngIf: item.unitDiscountValue -->

    <div class="price-row ng-scope">
        <!--//price-->
        <!-- ngIf: item.pricing.quantity == 'allow' && item.subscription.intervalUnit == 'adhoc' -->
        <!-- ngIf: item.pricing.quantity == 'allow' && item.subscription.intervalUnit != 'adhoc' --><strong ng-if="item.pricing.quantity == 'allow' &amp;&amp; item.subscription.intervalUnit != 'adhoc'" ng-hide="variables.hideFree === 'true' &amp;&amp; showTerms &amp;&amp; item.unitDiscountValue === 0 &amp;&amp; item.unitPriceValue === 0" class="price-item price text-success">Kostenlos</strong><!-- end ngIf: item.pricing.quantity == 'allow' && item.subscription.intervalUnit != 'adhoc' -->
        <!--//Total price for all items if quantity locked or hidden-->
        <!-- ngIf: !(item.pricing.quantity == 'allow') -->

    </div> <!--//end of price-row-div-->

    <!-- //You save text -->
    <div ng-show="item.selected &amp;&amp; item.discountPercent &amp;&amp; item.discountTotalValue != 0" class="nowrap-text price-item text-success small ng-scope">
        <div class="ng-binding">Sie haben gespart:
            <strong class="ng-binding">CHF&nbsp;172.99</strong> (100%)
        </div>
    </div>
</div><!-- end ngIf: !item.autoRenew || item.subscription.intervalUnit=='adhoc' -->

        <!-- ngIf: item.autoRenew && !(item.subscription.intervalUnit=='adhoc') -->
    </td>

</tr>

                        <tr ng-class="item.styleClass" class="visible-xs ng-scope">
                            <td></td>
                            <td>
                                <!-- ngIf: !item.autoRenew || item.subscription.intervalUnit=='adhoc' --><!-- ngInclude: 'price-row.html' --><div ng-if="!item.autoRenew || item.subscription.intervalUnit=='adhoc'" ng-include="'price-row.html'" class="ng-scope">
    <!--//old price -->
    <!-- ngIf: item.unitDiscountValue --><small class="price-item text-muted ng-scope" ng-if="item.unitDiscountValue"><del class="ng-binding"> CHF&nbsp;172.99</del>
    </small><!-- end ngIf: item.unitDiscountValue -->

    <div class="price-row ng-scope">
        <!--//price-->
        <!-- ngIf: item.pricing.quantity == 'allow' && item.subscription.intervalUnit == 'adhoc' -->
        <!-- ngIf: item.pricing.quantity == 'allow' && item.subscription.intervalUnit != 'adhoc' --><strong ng-if="item.pricing.quantity == 'allow' &amp;&amp; item.subscription.intervalUnit != 'adhoc'" ng-hide="variables.hideFree === 'true' &amp;&amp; showTerms &amp;&amp; item.unitDiscountValue === 0 &amp;&amp; item.unitPriceValue === 0" class="price-item price text-success">Kostenlos</strong><!-- end ngIf: item.pricing.quantity == 'allow' && item.subscription.intervalUnit != 'adhoc' -->
        <!--//Total price for all items if quantity locked or hidden-->
        <!-- ngIf: !(item.pricing.quantity == 'allow') -->

    </div> <!--//end of price-row-div-->

    <!-- //You save text -->
    <div ng-show="item.selected &amp;&amp; item.discountPercent &amp;&amp; item.discountTotalValue != 0" class="nowrap-text price-item text-success small ng-scope">
        <div class="ng-binding">Sie haben gespart:
            <strong class="ng-binding">CHF&nbsp;172.99</strong> (100%)
        </div>
    </div>
</div><!-- end ngIf: !item.autoRenew || item.subscription.intervalUnit=='adhoc' -->
                                <!-- ngIf: item.autoRenew && !(item.subscription.intervalUnit=='adhoc') -->
                            </td>
                        </tr>

                         <!-- // Display addon items -->
                         <!-- ngRepeat: itemGroup in item.groups -->

                            <!-- begin item level groups ( bundles are filtered from here) -->
                            <!-- ngRepeat: itemGroup in item.groups |filter: {type: '!bundle'} -->

                        <!-- end top level items -->
                        <tr ng-repeat-end="" class="hidden ng-scope"></tr><!-- end ngRepeat: item in orderGroup.items -->


                        </tbody><!-- end ngRepeat: orderGroup in groups -->
                    </table>

                    <div class="panel-footer complete-footer small col-sm-12" ng-show="!pending || purchaseOrderInstruction || bankPaymentWireInstruction">
                      <div class="row">
                        <div class="col-sm-9">
                            <!-- ngIf: paymentOption --><div ng-if="paymentOption" class="p ng-scope">
                                <span class="payment-icon free" ng-class="[paymentOption.type, paymentOption.variant]"></span>
                                <!-- ngIf: paymentOption.display -->
                            </div><!-- end ngIf: paymentOption -->

                            <!-- ngIf: billDescriptor -->
                            <!-- ngIf: showAutoRenewMsg && isAutoRenew -->
                            <!--<div class="text-muted"> {{'OrderReference' | phrase }} <a ng-href="{{accountManagement}}" target="_blank">{{ orderReference }}</a></div>-->
                            <!-- ngIf: order.reference --><div class="text-muted ng-binding ng-scope" ng-if="order.reference"> Bestellreferenz <!--<a ng-href="{{accountManagement}}" target="_blank">-->AIR201119-3286-18719<!--</a>--></div><!-- end ngIf: order.reference -->
                            <!-- ngIf: !bankPaymentWireInstruction && order.reference --><div class="text-muted ng-scope" ng-if="!bankPaymentWireInstruction &amp;&amp; order.reference"> <a ng-href="https://airmusictech.onfastspring.com/account/order/AIR201119-3286-18719/invoice" target="_blank" class="ng-binding" href="https://airmusictech.onfastspring.com/account/order/AIR201119-3286-18719/invoice">Rechnung anzeigen</a></div><!-- end ngIf: !bankPaymentWireInstruction && order.reference -->
                            <!-- ngIf: bankPaymentWireInstruction && order.reference -->
                            <!-- ngIf: shipping --><div class="text-muted ng-scope" ng-if="shipping">
                              <strong class="ng-binding"> Lieferadresse </strong>
                              <!-- ngRepeat: prop in shipping --><span ng-repeat="prop in shipping" class="ng-binding ng-scope">Aarau<!-- ngIf: !$last --><span ng-if="!$last" class="ng-scope">,</span><!-- end ngIf: !$last --> </span><!-- end ngRepeat: prop in shipping --><span ng-repeat="prop in shipping" class="ng-binding ng-scope">CH<!-- ngIf: !$last --><span ng-if="!$last" class="ng-scope">,</span><!-- end ngIf: !$last --> </span><!-- end ngRepeat: prop in shipping --><span ng-repeat="prop in shipping" class="ng-binding ng-scope">5004<!-- ngIf: !$last --><span ng-if="!$last" class="ng-scope">,</span><!-- end ngIf: !$last --> </span><!-- end ngRepeat: prop in shipping --><span ng-repeat="prop in shipping" class="ng-binding ng-scope">Aargau<!-- ngIf: !$last --><span ng-if="!$last" class="ng-scope">,</span><!-- end ngIf: !$last --> </span><!-- end ngRepeat: prop in shipping --><span ng-repeat="prop in shipping" class="ng-binding ng-scope">Neuenburgerstrasse 6<!-- ngIf: !$last --> </span><!-- end ngRepeat: prop in shipping -->
                            </div><!-- end ngIf: shipping -->
                        </div>
                        <div class="col-sm-3 text-right">
                            <!-- ngIf: taxPriceType == 'added' -->

                            <!--// You saved-->
                            <!-- ngIf: totalSavingsValue > 0 --><div ng-if="totalSavingsValue &gt; 0" class="p text-success ng-binding ng-scope"> Sie haben gespart:
                              <strong class="ng-binding"> CHF&nbsp;172.99 </strong> <!-- ngIf: totalSavingsPercent --><span ng-if="totalSavingsPercent" class="ng-binding ng-scope"> (100%) </span><!-- end ngIf: totalSavingsPercent -->
                            </div><!-- end ngIf: totalSavingsValue > 0 -->

                            <!--// Coupon code-->
                            <!-- ngIf: coupon --><div ng-if="coupon" class="ng-binding ng-scope"> Gutscheincode: CM251AIR </div><!-- end ngIf: coupon -->

                            <!--// Total-->
                            <div class="price text-success"> Gesamt: CHF&nbsp;0.00 </div>
                            <!-- ngIf: order.taxPriceType == 'included' --><div ng-if="order.taxPriceType == 'included'" class="text-muted ng-binding ng-scope"> Enthält <strong class="ng-binding"> Steuer: </strong> CHF&nbsp;0.00</div><!-- end ngIf: order.taxPriceType == 'included' -->
                        </div>
                      </div>
                    </div>
                </div> <!-- #panel-order -->

            </div> <!-- /.container -->
        </div> <!-- /#content -->

    </div> <!-- /#app-content -->

    <script async="" src="AIR%20Music%20Checkout-Dateien/pendo.js"></script><script async="" src="AIR%20Music%20Checkout-Dateien/aptrinsic.js"></script><script async="" src="AIR%20Music%20Checkout-Dateien/analytics.js"></script><script type="text/ng-template" id="defaultFooter.html">
      <div class="container">
        <img src="https://d37uz57cydkqly.cloudfront.net/CompiledViews/M4tJVbQ6Szk/7QtbTunXTeo/resources/fastspring-logo-color.png" class="footer-logo">
        <div>
            <p>{{'SecureCheckout' | phrase }} {{'Footer.SoldAndFulfilled' | phrase}}<a href='http://www.fastspring.com/purchasing-through-fastspring.php?utm_source=Store&utm_medium=Purchasing_Through_FastSpring&utm_content=Foundation&utm_campaign=Store_Traffic' target="_blank"> FastSpring</a>{{'Footer.AuthorizedReseller' | phrase}}{{'Footer.VisaCompliant' | phrase}} {{'FastSpringAddress' | phrase}}</p>
            <terms-of-service></terms-of-service>
        </div>
      </div>
    </script>

    <script type="text/ng-template" id="customFooter.html">
      <div class="footer">
        <div class="container">
            
        </div>
      </div>
    </script>

    <div class="footer-complete-list">
      <div class="align-custom-footer">
          <!-- ngInclude: 'customFooter.html' --><div class="container custom-footer ng-scope" ng-include="'customFooter.html'">
      <div class="footer ng-scope">
        <div class="container">
            
        </div>
      </div>
    </div>
      </div>
      <!-- ngInclude: 'defaultFooter.html' --><div class="default-footer ng-scope" ng-include="'defaultFooter.html'">
      <div class="container ng-scope">
        <img src="AIR%20Music%20Checkout-Dateien/fastspring-logo-color.png" class="footer-logo">
        <div>
            <p class="ng-binding">Sichere Bezahlung. Verkauf und Versand durch<a href="http://www.fastspring.com/purchasing-through-fastspring.php?utm_source=Store&amp;utm_medium=Purchasing_Through_FastSpring&amp;utm_content=Foundation&amp;utm_campaign=Store_Traffic" target="_blank"> FastSpring</a>
 einem autorisierten Händlerund Merchant of Record. FastSpring verwendet
 eine dem Branchenstandard entsprechende Verschlüsselung, um die 
Vertraulichkeit Ihrer persönlichen Informationen zu schützen. 801 Garden
 St. #201, Santa Barbara, CA 93101</p>
            <terms-of-service><a ng-href="https://fastspring.com/privacy?utm_source=Store&amp;utm_medium=Privacy_Policy&amp;utm_content=Foundation&amp;utm_campaign=Store_Traffic" target="_blank" rel="noopener noreferrer" class="ng-binding" href="https://fastspring.com/privacy?utm_source=Store&amp;utm_medium=Privacy_Policy&amp;utm_content=Foundation&amp;utm_campaign=Store_Traffic">Datenschutzerklärung</a>&nbsp;|&nbsp;<a ng-href="https://www.fastspring.com/terms-sale-us.html?utm_source=Store&amp;utm_medium=Terms_of_Sale_US&amp;utm_content=Foundation&amp;utm_campaign=Store_Traffic" target="_blank" rel="noopener noreferrer" class="ng-binding" href="https://www.fastspring.com/terms-sale-us.html?utm_source=Store&amp;utm_medium=Terms_of_Sale_US&amp;utm_content=Foundation&amp;utm_campaign=Store_Traffic">AGB</a><!-- ngIf: country == 'RU' --></terms-of-service>
        </div>
      </div>
    </div>
    </div>



</div> <!--.body-footer-->

<script id="viewdata" type="application/x-view-json">
{"pending":false,"phrases":{"SecureCheckout":"Sichere Bezahlung.","UnCancel":"Wiederherstellen","PurchaseOrderInstructionDescription":"Bitte bezahlen Sie Ihre Rechnung, um diese Bestellung abzuschließen","MakeDefault":"Als Standard","Store":"Speichern","Edit":"Bearbeiten","SubscriptionAddonTerms.Single":"Wird zusammen mit Abonnement erneuert","ChangePlanAndQuantity":"Tarif & Menge ändern","ViewDetails":"Details anzeigen","ServiceTaxExemptInvalid":"Die Dienstleistungssteuer-Nr. Ihres Unternehmens konnte nicht erfolgreich verifiziert werden.","Month":"Monat","Daily":"täglich","GstExemptApplied":"Die MwSt.-Nr. Ihres Unternehmens wurde angewendet und die MwSt. entfernt.","GstExemptInfo":"Wenn Sie im Auftrag eines Unternehmens eine Bestellung aufgeben, geben Sie die GST-Identifikationsnummer des Unternehmens ein. Die GST-Gebühren werden entfernt.","PostOrderGiftDescription":"Alle anwendbaren Bestelldetails, einschließlich Lizenzschlüssel oder Download-Links, werden an die E-Mail-Adresse des Geschenkempfängers gesendet.","NoActiveSubscriptions":"Keine aktiven Abonnements","AutorenewOffWarning":"Wenn die automatische Verlängerung deaktiviert ist, müssen Sie immer dann, wenn diese Mitgliedschaft verlängert wird, die Einzelheiten einer Zahlung eingeben. Automatische Verlängerung deaktivieren?","Unexpected":"Ein unerwarteter Fehler ist aufgetreten. Bitte versuchen Sie es erneut oder aktualisieren Sie die Seite in Ihrem Browser.","FulfillmentSentRecipient":"Bestelldetails, einschließlich Lizenzschlüssel oder Download-Links, werden per E-Mail an den Empfänger gesendet","BankPaymentWireInstructionTitle":"Banküberweisungs-Anweisungen","GstID":"MwSt.-ID-Nr.","PaymentVariant.jcb":"JCB","AddressInvalid":"Ungültige oder fehlende Postleitzahl. Bitte wählen Sie die Zahlungsmethode aus, um es erneut zu versuchen.","BankPaymentWireInstructionAccountHolder":"Begünstigter/Kontoinhaber","TryAgain":"Erneut versuchen","PaymentVariant.visa":"Visa","PaymentOption.purchaseorder":"Bestellung/Rechnung","Weeks":"Wochen","ErrorServer":"Ein Fehler ist aufgetreten. Bitte versuchen Sie es später nochmal.","CancelSubscription":"Abonnement kündigen","CardDeclined":"Ihre Kreditkarte wurde abgelehnt. Bitte probieren Sie eine andere Karte oder wählen Sie eine andere Zahlungsmethode.","EnterTaxInformationJp":"Nationale Steuernummer eingeben","CustomerReference":"Bestellnummer (Optional)","TaxInformationEU":"Inklusive Mehrwertsteuer","CardSecurityCodeHintAmex":"Die CID ist eine 4-stellige Zahl auf der Vorderseite Ihrer Karte.","Details":"Angaben","EnterZipToCalculate":"PLZ eingeben","FieldErrors":"Bitte korrigieren Sie die hervorgehobenen Felder.","DownloadNow":"Jetzt herunterladen","RecipientAddress":"Empfängeradresse","Refunds":"Erstattungen","Starting":"ab","Close":"Schließen","Expires":"Läuft ab","Week":"Woche","ConfirmCancelSubscriptionAtTermEnd":"Für Ihr Abonnement werden bis zum Ende des aktuellen Vertrags weiterhin Kosten berechnet. Für den aktuellen Vertrag verbleiben noch %s Abrechnungsperioden. Die Deaktivierung Ihres Abonnements findet am %s statt","VatExemptInfo":"Wenn Sie im Auftrag eines Unternehmens eine Bestellung aufgeben, geben Sie die Umsatzsteuer-Identifikationsnummer des Unternehmens ein. Die Umsatzsteuergebühren werden entfernt.","Orders":"Bestellungen","PaymentType.ideal":"iDEAL","BillingHistory":"Rechnungshistorie","ShippingTitle":"Lieferadresse","ConfirmCancelSubscription":"Sind Sie sicher, dass Sie das Abonnement kündigen möchten?","YouSaved":"Sie haben gespart","EUVatExemptInvalid":"Die USt-Identifikationsnummer Ihres Unternehmens konnte nicht bestätigt werden.","JpConsumptionTaxExemptApplied":"Die nationale Steuernummer Ihres Unternehmens wurde angewandt und die Konsumsteuer wurde entfernt.","Sheerid-teacher":"Erhalten Sie einen Lehrerrabatt","CardExpireYearPlaceholder":"JJ","ViaFastspring":"ÜBER FASTSPRING","Days":"Tage","TermsOfSale":"AGB","ShippingCity":"Stadt","WaitRedirectTitle":"Bitte warten...","PaymentType.card":"Kredit- / Debitkarte","SubscriptionNotCancelable":"Das Abonnement kann nicht gekündigt werden.","PaymentOption.wire":"Banküberweisung","GetInvoice":"Rechnung abrufen","FailureAmazonCountryUpdate":"Das Land Ihres Amazon-Accounts war abweichend. Wir haben Ihren Auftrag unter Verwendung des Landes in Ihrem Amazon-Account aktualisiert. Bitte überprüfen Sie das Ganze und versuchen Sie es erneut.","SavePaymentDetails":"Einzelheiten der Zahlung speichern","FirstName":"Vorname","TaxValue":"Steuer:","SubscriptionCancelFailed":"Ein unerwarteter Fehler ist während der Kündigung des Abonnements aufgetreten.","NextPayment":"Nächste Zahlung:","GiftPurchase":"Geschenkkauf","LightBox.UpgradeAvailable":"Upgrade verfügbar","FastspringCheckout":"FastSpring-Kasse","RecipientInformation":"Empfängerinformationen","WaitRedirectAbout":"Bitte warten, wir leiten Sie weiter.","BankPaymentWireInstructionIban":"IBAN","BankPaymentWireInstructionDialogTitle":"Banküberweisungs-Anweisungen","CouponCode":"Gutscheincode","ForFree":"kostenlos","CardInfoBRL":"Dieser Kauf unterliegt den geltenden brasilianischen Gesetzen und Regeln für eine internationale Transaktion","Year":"Jahr","PurchaseOrderInstructionPendingApprovalDescription":"Danke, dass Sie Ihre Bestellung aufgegeben haben. Wir prüfen Ihre Bestellinformationen und senden Ihnen innerhalb von 1-2 Werktagen eine E-Mail mit einer Rechnung.","BankPaymentWireInstructionBankAddress":"Adresse","EUVatExemptInfo":"Wenn Sie im Auftrag eines Unternehmens eine Bestellung aufgeben, geben Sie die Umsatzsteuer-Identifikationsnummer des Unternehmens ein. Die Umsatzsteuergebühren werden entfernt.","YourProfile":"Ihr Profil","BillDescriptor":"Kosten erscheinen auf Ihrer Rechnung als","Add":"Hinzufügen","LicenseAgreement":"Lizenzvereinbarung","PaymentOption.sofort":"Sofortüberweisung","Email":"E-Mail","DeleteItem":"Entfernen","Pay":"%s zahlen","JpConsumptionTaxAbout":"Preise und Gesamtbetrag der Bestellung enthalten Konsumsteuer.","GstExemptInvalid":"Die MwSt.-Nr. Ihres Unternehmens konnte nicht erfolgreich verifiziert werden.","MustBePaidManually":"%s muss manuell vor dem %s bezahlt werden.","RegionAF":"Afrika","VolumeDiscountsAvailable":"Mengenrabatte verfügbar","InactiveSubscriptions":"Inaktive Abonnements","ConfirmUpdatePaymentMethod":"Sind Sie sicher, dass Sie Ihre Standard-Zahlungsmethode ändern möchten?","Footer.AuthorizedReseller":" einem autorisierten Händler","Test":"Test","CardExpired":"Ihre Kreditkarte ist abgelaufen. Bitte probieren Sie eine andere Karte oder wählen Sie eine andere Zahlungsmethode.","EUVatExemptApplied":"Die USt-Identifikationsnummer Ihres Unternehmens wurde angewandt und die Mehrwertsteuergebühren wurden abgeschafft.","SavingsTitle":"Sie sparen","LastPayment":"Letzte Zahlung","Years":"Jahre","Optional":"Optional","OptionalMessage":"Nachricht (optional)","ServiceTaxExemptInfo":"Wenn Sie im Auftrag eines Unternehmens eine Bestellung aufgeben, geben Sie die Servicesteuer-Identifikationsnummer des Unternehmens ein, und die Servicesteuergebühren werden entfernt.","CancelSubscriptionDisabledContact":"Kontaktieren Sie %s unter %s, falls Sie Fragen haben.","Failed":"Fehlgeschlagen","SubscriptionAlreadyPaid":"Abonnement wurde bereits bezahlt","AbnExemptInvalid":"Die ABN Ihres Unternehmens konnte nicht verifiziert werden.","CardSecurityCodePlaceholder":"CVC","EnterPaymentDetails":"Weiter","For":"für","PaymentVariant.unionpay":"UnionPay","Shipment":"Versand","Free":"Kostenlos","ShippingStreet":"Adresse","CardExpireMonth":"Verfallmonat der Karte","FirstCharge":"Erste Belastung:","PlaceYourOrder":"Bestellung aufgeben","PaymentDetails":"Einzelheiten der Zahlung","SubmitLocale":"Absenden","LastName":"Nachname","Ending":"Endet am","PurchaseOrderInstructionTitle":"Rechnung und Zahlungsanweisungen","UnsupportedInTestMode":"Im Testmodus nicht unterstützt.","BankPaymentWireInstructionViewButton":"Anweisungen ansehen","UseThis":"Dies verwenden","Subscriptions":"Abonnements","Addons":"Add-ons","FastSpringAddress":"801 Garden St. #201, Santa Barbara, CA 93101","Forbidden":"Die angegebenen Daten konnten nicht bestätigt werden","OrderEmpty":"Ihre Bestellung ist leer","Continue":"Fortsetzen","Sheerid-student":"Erhalten Sie einen Studentenrabatt","CardNumberPlaceholder":"Kartennummer","BankPaymentWireInstructionDescription":"Bei Zahlung per Banküberweisung kann Ihr Produkt nicht vor vollständigem Zahlungseingang ausgeliefert werden. Bitte gestatten Sie uns nach Erhalt der Zahlung 3 Werktage für die Bearbeitung. Anweisungen zur Durchführung dieser Bestellung per Banküberweisung werden an Ihre E-Mail-Adresse gesendet.","HideSubscriptionAddonTerms":"Add-on-Bedingungen verstecken","EUVatDialogTitle":"Informationen zur Mehrwertsteuer","ManageAccount":"Kontoverwaltung","SubscriptionManagement":"Vollständige Bedingungen und Abonnementverwaltung","Abandonment.PurchaseWithDiscount":"Kauf mit Rabatt","Abandonment.CompleteYourOrder":"Stellen Sie Ihren Auftrag fertig","NextCharge":"Nächste Abbuchung:","CardCvvInvalid":"Der Sicherheitscode Ihrer Kreditkarte (CVC) ist ungültig.","PaymentType.wire":"Banküberweisung","AccountManagement":"Kontoverwaltung","Coupon":"Rabattcode","CouponCall":"Geben Sie einen Rabattcode ein","TaxInformationJp":"Enthält Konsumsteuer","ZipCode":"Postleitzahl","OrderOn":"Bestellung am","SavePaymentDetailsForRebills":"Zahlungsangaben sicher speichern für automatische Abonnementserneuerung","Cancelled":"Gekündigt","UnCancelSubscriptionInstructions":"Falls Sie das Abonnement doch nicht kündigen möchten, klicken Sie hier auf den Button „Wiederherstellen“.","PaymentPending":"Zahlung ausstehend","ServiceTaxID":"Dienstleistungssteuer-ID-Nr.","RegionAS":"Asien","EnterTaxInformationService":"Dienstleistungssteuer-ID-Nr. eingeben","RegionAM":"Amerika","Every":"Jeden","Sheerid-military":"Erhalten Sie einen Militärrabatt","Footer.VisaCompliant":"und Merchant of Record. FastSpring verwendet eine dem Branchenstandard entsprechende Verschlüsselung, um die Vertraulichkeit Ihrer persönlichen Informationen zu schützen.","JpNationalTaxId":"Nationale Steuernummer","PaymentType.free":"Kostenlos","Footer.SoldAndFulfilled":"Verkauf und Versand durch","Address":"Adresse","ChooseCountry":"Land wählen","AbnExemptApplied":" Die ABN Ihrer Firma wurde angewendet und die GST-Belastung wurde entfernt.","AccountDetailsPaymentMethods":"Bankverbindung und Zahlungsarten","PostOrderExpectationDescription":"Wir senden eine Kopie aller wichtigen Bestellinformationen an Ihre E-Mail-Adresse.","OtherPaymentMethods":"Andere Zahlungsarten","AgreementTermsAndPolicy":"Ich akzeptiere FastSprings <a href ng-href=\"{{complianceData.termsURL}}\" target=\"_blank\" rel=\"noopener noreferrer\">AGB</a> und <a href ng-href=\"{{complianceData.privacyURL}}\" target=\"_blank\" rel=\"noopener noreferrer\">Datenschutzerklärung</a>","Remove":"Entfernen","OrderSubtotal":"Zwischensumme","PaymentMethods":"Zahlungsarten","SubscriptionNotUncancelable":"Das Abonnement kann nicht wiederhergestellt werden.","GstAbout":"Preise und Auftragssumme sind inkl. MwSt.","TaxInformationService":"Enthält Servicesteuer","BankPaymentWireInstructionViewNowButton":"Anweisungen jetzt lesen","ConfirmOk":"Ja","EUVatNonExemptApplied":"Die MWST-Identifikationsnummer Ihres Unternehmens ist angewandt worden, jedoch kann die MWST-Belastung aufgrund Ihres Landes nicht aufgehoben werden.","PaymentType.sepa":"Lastschrift","CancelledAtBank":"Zahlung abgebrochen.","AutoRenewCollectedInfomarion":"Ihre Zahlungsinformationen wurden für automatische Verlängerungen sicher gespeichert","Debit":"Abbuchung","OrderSectionTitle":"Ihre Bestellung","PaymentOption.sepa":"Lastschrift","BankPaymentWireInstructionInitiate":"Machen Sie über Ihre Bank eine Überweisung an:","ServiceTaxDialogTitle":"Dienstleistungssteuerinformationen","EmailLinkInstructions":"Eine E-Mail mit Anweisungen für den Zugriff auf Ihr Konto wurde gesendet","CharactersRemaining":"%s Zeichen übrig","EditProfile":"Profil bearbeiten","PaymentDialogMessage":"Ihre Zahlung war erfolgreich","BankTransferNote":"Bei Zahlung per Banküberweisung kann Ihr Produkt erst nach vollständigem Erhalt der Zahlung ausgeliefert werden. Nachdem wir die Zahlung erhalten haben, rechnen Sie bitte mit 3 Werktagen für die Verarbeitung. Zahlungsanweisungen","ConfirmCancel":"Nein","Card":"Karte","Calculating":"Wird berechnet","FreeTrialUntil":"Kostenlose Probe bis","ShippingRegion":"Bundesland","BankPaymentWireInstructionAccountNo":"Kontonummer","EUVatID":"USt-IdNr.","Next":"Weiter","ShippingPostalCode":"Postleitzahl","PaymentInformation":"Zahlungsinformationen","Country":"Land","PaymentType.purchaseorder":"Bestellung/Rechnung","PayNow":"Jetzt zahlen","Current":"Aktuell","JpConsumptionTaxDialogTitle":"Informationen zur Konsumsteuer","ActiveSubscriptions":"Aktive Abonnements","Complete":"Fertiggestellt","PaymentOption.giropay":"GiroPay","MultipleVariations":"Variante des Produkts, das bereits in der Sitzung ist, kann nicht hinzugefügt werden","UnCancelSubscriptionInstructionsAutoRenew":"Die nächste Abonnementgebühr wird automatisch zum vorgesehenen Termin abgebucht.","PaymentType.amazon":"Mit Amazon zahlen","EmailFormInvalid":"Bitte geben Sie eine gültige E-Mail-Adresse ein","JpConsumptionTaxtExemptInvalid":"Die nationale Steuernummer Ihres Unternehmens konnte nicht bestätigt werden.","BankPaymentWireInstructionBank":"Bank","BillingAddress":"Rechnungsadresse","PaymentType.paypal":"Zahlung mit PayPal","RenewsAutomatically":"Wird vom Verkäufer automatisch verlängert","BankPaymentWireInstructionDialogIntroduction":"Einleitung einer überweisung von Ihrer eigenen Bank an:","NoInactiveSubscriptions":"Keine inaktiven Abonnements","PurchaserInformation":"Käuferinformationen","PaymentOption.paypal":"PayPal-Konto","ConfirmUpdateSubscriptionPaymentMethod":"Sind Sie sicher, dass Sie die Standard-Zahlungsmethode des Abonnements ändern möchten?","EnterEmail":"Bitte geben Sie Ihre E-Mail-Adresse ein, um fortzufahren","RegionOC":"Ozeanien","PaymentSectionTitle":"Ihre Zahlung","AbnDialogTitle":"ABN-Information","AlipayReminder":"Um mit Alipay zu bezahlen, bestätigen Sie bitte Ihre Zahlung, bevor Sie Ihren Browser schließen.","HideSubscriptionTerms":"Abonnementbedingungen ausblenden","Ended":"Geendet","PostOrderExpectationTitle":"Vielen Dank für Ihre Bestellung!","CancelSubscriptionDisabledHeader":"Dieses Abonnement kann hier nicht gekündigt werden.","ApplyToAllMySubscriptions":"Auf all meine Abonnements anwenden","YourOrderIs":"Ihr Auftrag ist","Manage":"Verwalten","BankPaymentWireInstructionSwiftCode":"Swift-Code","Default":"Standard","PaymentVariant.discover":"Discover","Gift":"Geschenk","PaymentOption.amazon":"Amazon","CharacterRemaining":"%s Zeichen übrig","EnterTaxInformationGst":"MwSt.-ID-Nr. eingeben","CardExpireYear":"Karte gültig bis","LastCharge":"Letzte Belastung","ShowHistory":"Abrechnungsverlauf anzeigen","Day":"Tag","FailurePayPalCountryUpdate":"Das Land Ihres PayPal-Accounts war abweichend. Wir haben Ihren Auftrag unter Verwendung des Landes in Ihrem PayPal-Account aktualisiert. Bitte überprüfen Sie das Ganze und versuchen Sie es erneut.","CardNumber":"Kartennummer","Company":"Firma","PurchaseOrderInstructionPayNowButton":"Jetzt bezahlen","SubscriptionTerms":"Abonnementbedingungen","before":"vor","EnterTaxInformationEU":"USt-IdNr. eingeben","PaymentOption.alipay":"Alipay","PaymentVariant.amex":"American Express","ApplyCoupon":"Einlösen","Tax":"Steuer","ErrorChoosePaymentMethod":"Bitte wählen Sie eine Zahlungsmethode.","Update":"Aktualisierung","EndingWith":"Endet mit","ChooseLanguage":"Sprache wählen","EmailFormInstructions":"Bitte geben Sie die mit diesem Konto verknüpfte E-Mail-Adresse ein","PaymentType.giropay":"GiroPay","BankPaymentWireInstructionInclude":"WICHTIG: Die Referenznummer für die muss enthalten sein und ist nur für den aktuellen Auftrag gültig.","ChooseLocale":"Land / Sprache wählen...","TaxNotApplicable":"Nicht zutreffend","PaymentType.alipay":"Alipay","BillingPostalCode":"Postleitzahl der Rechnung","Items":"%s Artikel","CardSecurityCodeHint":"Die CVC-Nummer ist eine 3-stellige Zahl auf der Rückseite Ihrer Karte.","PaymentType.sofort":"Sofortüberweisung","JpConsumptionTaxExemptInfo":"Wenn Sie im Auftrag eines Unternehmens eine Bestellung aufgeben, geben Sie die nationale Steuer-ID des Unternehmens ein. Die Verbrauchsteuer wird entfernt.","MailingListSubscribe":"Halten Sie mich per E-Mail über Produktupdates und Sonderangebote auf dem Laufenden.","RenewEvery":"Werden jedes %s %s verlängert","SubscriptionAddonTerms":"Add-on-Bedingungen","Refunded":"Erstattet","ShippingPhoneNumber":"Telefonnummer","AndEndingOn":"und endet am","TaxUS":"Steuer","Months":"Monate","Footer.WeUse":"Wir verwenden einen Industriestandard zur Verschlüsselung, um die Vertraulichkeit Ihrer persönlichen Informationen zu schützen.","RenewsEvery":"Wird %s %s %s verlängert","City":"Stadt","PaymentVariantCardUnsupported":"Dieser Kartentyp ist zurzeit nicht verfügbar. Bitte wählen Sie eine andere Karte aus.","PaymentDialogOk":"OK","MissingData":"Erforderliche Informationen wurden nicht angegeben. Bitte versuchen Sie es erneut.","EUVatAbout":"Preise und Gesamtbestellwert sind inklusive der Mehrwertsteuer.","Province":"Region","CardSecurityCode":"Sicherheitscode der Karte","OrderInvoice":"Bestellungsrechnung","ConfirmTitle":"Bestätigen","Price":"Preis","Sheerid-professional":"Erhalten Sie einen Berufsrabatt","AbnExemptInfo":"Wenn Sie eine Bestellung im Namen eines Unternehmens aufgeben, geben Sie die ABN des Unternehmens ein und die GST-Gebühren werden entfernt.","AddPaymentMethod":"Zahlungsart hinzufügen","Save":"Speichern","ServiceTaxExemptApplied":"Die Dienstleistungssteuer-Nr. Ihres Unternehmens wurde angewendet und die Dienstleistungssteuer entfernt.","FailureRisk":"Wir bedauern, dass Ihr Auftrag nicht angenommen werden konnte. Wir schätzen Ihr Unternehmen und möchten Ihnen bei der Fertigstellung dieses Auftrages helfen. Bitten wenden Sie sich an uns, um Unterstützung zu bekommen.","LightBox.InYourCart":"In Ihrem Einkaufswagen","CouponInvalid":"Der Rabattcode, den Sie eingegeben haben, existiert nicht.","OrderContainsAdhoc":"Einzelheiten der Zahlung werden für künftige Aufträge gespeichert.","CardsAccepted":"Wir akzeptieren","Message":"Nachricht","PaymentInformationTitle":"Zahlungsinformationen","PaymentOption.ideal":"iDEAL","Updating":"Aktualisierung","PurchaseOrderInstructionPendingApprovalTitle":"Bestellung wartet auf Abnahme","EmailMatch":"Die E-Mail des Empfängers und des Käufers können nicht übereinstimmen","ManageYourOrders":"Ihre Bestellungen verwalten","PaymentOption.card":"Kredit-/Debitkarte","SubscriptionAddonIncluded":"Add-on-Bedingungen inbegriffen","EnterTaxInformationAbn":"ABN eingeben","Includes":"Enthält","UpdatePaymentMethod":"Zahlungsart aktualisieren","Credit":"Kredit","BankPaymentWireInstructionPaymentReference":"Verwendungszweck","MustBeRenewedEvery":"Muss %s %s %s verlängert werden","Required":"Erforderlich","OrderReference":"Bestellreferenz","Inactive":"Inaktiv","UpgradeAndContinue":"Aktualisieren und fortsetzen!","TaxInformationUS":"+Steuern","MultipleRebills":"Mehrere künftige Weiterberechnungen.","UnCancelSubscriptionInstructionsManualRenew":"Die nächste Abonnementgebühr ist zum vorgesehenen Termin fällig.","on":"am","PaymentVariant.mastercard":"MasterCard","BankPaymentWireInstructionRoutingNumber":"Routing Number","Bundle":"Paket","PrivacyPolicy":"Datenschutzerklärung","JpNationalTaxIdSubmit":"Absenden","Quantity":"Menge","UnCancelThisSubscription":"Dieses Abonnement wiederherstellen","AbnID":"ABN","RegionEUR":"Europa","ServiceTaxAbout":"Preise und Auftragssumme sind inkl. Dienstleistungssteuer.","YourOrders":"Ihre Bestellungen","DownloadAction":"Jetzt herunterladen","InvoiceLinkText":"Rechnung anzeigen","Today":"heute","ConfirmRemovePaymentMethod":"Sind Sie sicher, dass Sie die Zahlungsmethode entfernen möchten?","TaxInformationGST":"Enthält GST","CardExpireMonthPlaceholder":"MM","ShippingAddress":"Lieferadresse","Total":"Gesamt","FailureGeneric":"Ein unerwarteter Fehler ist aufgetreten und wir sind im Moment nicht in der Lage, Zahlungen anzunehmen.","PaymentDialogTitle":"Ihre Zahlung","EUVatIDSubmit":"Absenden","GstDialogTitle":"MwSt.-Informationen","OrderTotal":"Summe","On":"am"},"messages":[],"orderId":"PXSdaVsbRM2mTS6O1rn7kg","orderReference":"AIR201119-3286-18719","order":{"currency":"CHF","country":"CH","reference":"AIR201119-3286-18719","taxExemptionAllowed":false,"taxExempt":false,"total":"CHF 0.00","totalValue":0.0,"tax":"CHF 0.00","taxValue":0.0,"totalWithTax":"CHF 0.00","totalWithTaxValue":0.0,"discountTotal":"CHF 172.99","discountTotalValue":172.99,"discountTotalPercent":"100%","discountTotalPercentValue":100.0,"originalTotal":"CHF 172.99","originalTotalValue":172.99,"subtotal":"CHF 0.00","subtotalValue":0.0,"taxPriceType":"included","taxType":"VAT","taxRate":"0%","groups":[{"items":[{"selected":true,"path":"CMM-Vacuum-Pro","pid":"CMM-Vacuum-Pro","quantity":1,"price":"CHF 172.99","priceValue":172.99,"priceTotal":"CHF 172.99","priceTotalValue":172.99,"unitPrice":"CHF 0.00","unitPriceValue":0.0,"unitDiscount":"CHF 172.99","unitDiscountValue":172.99,"discountPercent":"100%","discountPercentValue":100.0,"discountTotal":"CHF 172.99","discountTotalValue":172.99,"total":"CHF 0.00","totalValue":0.0,"priceValueWithoutTax":0.0,"quantityEditable":true,"removable":false,"image":"https://d8y8nchqlnmka.cloudfront.net/M4tJVbQ6Szk/wLWBs18oTWA/VacuumPro_DR_220x220.png","display":"Vacuum Pro with Fresh AIR Pack Expansion","sku":"CMM-VACUUMPRO","description":{"summary":"<p>Exclusive Black Friday Deal </p><p>Vacuum Pro is a virtual polyphonic analog synthesizer with vacuum tube circuit modeling that perfectly captures the crunchy, warm sound of the analog era. Plus get the highly acclaimed expansion worth $20 free! </p>","action":"Add to Cart","full":"<p>Analog Just Got Warmer<br/>Vacuum Pro is a polyphonic analog synthesizer with vacuum tube circuit modeling that perfectly captures the crunchy, warm sound of the analog era. With four analog oscillators, multiple filters and envelopes, and built-in audio effects, Vacuum Pro lets you dive deep into subtractive synthesis to recreate those sought-after analog sounds from the 70s and 80s. Tweak the switches, knobs, and dials to program anything from basses, leads, pads, or unique sound effects. For even more warmth, Vacuum Pro has six virtual vacuum tube circuits that add crunch and grit at every stage of the signal path. Analog just got a whole lot warmer.</p><p>Vintage Vibes</p><p>Vacuum Pro is a powerful combination of two separate synthesizer parts that can be stacked, split, and layered to produce big, wide, and fat analog sounds. Each Vacuum Pro part starts with two wide-range, vacuum tube oscillators that can be synched, detuned, and set to various octave levels. Plus, Quad Detune controls per oscillator make it easy to quickly dial in lush sounds. For an even bigger sound, the built-in Doubling effect instantly widens and thickens up your patch.</p><p>Shape your sound with two vacuum tube filters that include a traditional low-pass filter and a selectable high-pass/band-pass filter. Vacuum Pro also has four envelope generators, matrix-assignable modulation, and a tempo sync’d LFO. The mixer offers a drive circuit and a tone-warping ring modulator. For authentic analog behavior, the Age controls let you manipulate the drift of and add dust to your sounds.</p><p>Programming Powerhouse</p><p>Vacuum Pro comes complete with 350+ tweakable patches created by acclaimed sound designers Richard Devine and Mark Ovenden. You can load these patches separately into each Vacuum Pro part to combine and experiment with multi-timbral sounds. For instant sound inspiration, Vacuum Pro features Smart Sound Randomization, which randomly generates new settings for either part or both. Define which modules you want to lock at their current settings, which will be randomized, and then let Smart Sound dial in a patch for you.</p><p>Global Control</p><p>Vacuum Pro’s Smart page condenses all the individual parameter controls into eight macro knobs that enable you to quickly shape the sound of your patch without extensive tweaking. Macro knobs such as Punch, Emphasis, and Complexity add an intuitive workflow for perfecting your programming. Switch back and forth between the micro and macro modes to quickly edit or create your own custom sounds.</p><p>Extra Effects</p><p>In addition to its authentic analog sound, Vacuum Pro includes a host of creative tools that are characteristic of classic analog synthesizers. An onboard arpeggiator, which can be tempo sync’d to your DAW, offers a quick way to build melodic runs and short sequences. A built-in chorus/phaser and delay effects give life and motion to your Vacuum Pro patches. Onscreen pitch bend and modulation wheels add extra expression to any performance, and all parameters are MIDI-mappable for performance ease and automated control.</p><p>AIR Music Technology is a trademark of inMusic Brands, Inc., registered in the U.S. and other countries. All other product or company names are trademarks or registered trademarks of their respective owners. Product features, specifications, system requirements, and availability are subject to change without notice.</p>"},"pricing":{"quantity":"allow"},"discount":{"coupon":"CM251AIR","data":{"totalDiscountValue":168.0,"tiers":[],"discountPath":"CMM-Vacuum-Pro","discountDuration":null,"discountValue":168.0}},"groups":[],"fulfillments":{"CMM-Vacuum-Pro_file_1":[{"display":"VacuumPro_1.0.7_Setup PC.zip","size":178858811,"file":"https://airmusictech.onfastspring.com/account/file/AIR201119-3286-58761F","type":"file"}],"CMM-Vacuum-Pro_file_2":[{"display":"Vacuum Pro Fresh AIR Pack 1.1.0 Mac.dmg","size":1715959,"file":"https://airmusictech.onfastspring.com/account/file/AIR201119-3286-71754F","type":"file"}],"CMM-Vacuum-Pro_file_3":[{"display":"VacuumProFreshAIRPack1-1.1.0_Setup.zip","size":1438007,"file":"https://airmusictech.onfastspring.com/account/file/AIR201119-3286-54746F","type":"file"}],"CMM-Vacuum-Pro_file_0":[{"display":"VacuumPro_1.0.7_Setup Mac.dmg","size":165246215,"file":"https://airmusictech.onfastspring.com/account/file/AIR201119-3286-59733F","type":"file"}],"CMM-Vacuum-Pro_license_0":[{"license":"3055-2009-6289-0603-4974-3593-5237-91","display":"License Key","type":"license"}],"instructions":"<p>Your download(s) will be available for 30 days from the date of purchase. If you require a longer download period, please purchase the extended download service.</p>"},"productFormat":"digital","fulfillment":{"files":[{"name":"VacuumPro_1.0.7_Setup PC.zip","size":178858811,"href":"https://airmusictech.onfastspring.com/account/file/AIR201119-3286-58761F"},{"name":"Vacuum Pro Fresh AIR Pack 1.1.0 Mac.dmg","size":1715959,"href":"https://airmusictech.onfastspring.com/account/file/AIR201119-3286-71754F"},{"name":"VacuumProFreshAIRPack1-1.1.0_Setup.zip","size":1438007,"href":"https://airmusictech.onfastspring.com/account/file/AIR201119-3286-54746F"},{"name":"VacuumPro_1.0.7_Setup Mac.dmg","size":165246215,"href":"https://airmusictech.onfastspring.com/account/file/AIR201119-3286-59733F"}],"licenses":[{"code":"3055-2009-6289-0603-4974-3593-5237-91"}],"instructions":"<p>Your download(s) will be available for 30 days from the date of purchase. If you require a longer download period, please purchase the extended download service.</p>"},"product":"CMM-Vacuum-Pro","variation":"CMM-Vacuum-Pro","priceValueWithoutTaxAndDiscounts":0.0}],"required":false,"selections":true}],"coupons":["CM251AIR"],"payments":[],"gift":false,"availablePaymentMethods":[],"includesPhysicalGoods":false,"shippingCostValue":0.0,"allCrossSells":[],"selections":true,"creationTime":0},"billDescriptor":"","variables":{"integrationBehaviourGA":"default","collectingEmailCheckbox":"true","cartCrossSellsPositionProduct":"inside","purchaseBtn":"addToCart","confirmCancelBtnFontSize":"14px","showCouponField":"paymentBlock","productImageSize":"large","crossSellsPositionProduct":"inside","nortonDisplay":"large","upSellsDisplay":"pageLightbox","popupHeadingAlign":"center","showCompanyField":"disable","offerTitleSize":"16px","subscriptionAutoRenew":"auto","showVatLink":"true","topbarFreezing":"false","listUpSellsDisplay":"page","upSellsPosition":"belowdriver","cartUpSellsDisplay":"pageLightbox","panelHeaderTextColor":"#333333","countrySelector":"visible","offerImageSizeInsideCart":"medium","listUpSellsPosition":"belowdriver","popupOnWindowClose":"true","integrationBehaviourGTM":"default","productTitle":"showDescription","licenses":"true","cartUpSellsPosition":"belowdriver","requireEmail":"false","popupTitle":"Wait, Don't Leave - Here's an extra 10% off","panelHeaderColorNew":"#F5F5F5","font":"Montserrat","offerImageSizeOutsideCart":"large","listCrossSellsPositionProduct":"belowdriver","logo":"https://d8y8nchqlnmka.cloudfront.net/M4tJVbQ6Szk/oTH0QsiVSmA/air_logo2012WH.png","subscriptionUsePaymentMethodBtnFontSize":"14px","popupTimeout":"10","priceSize":"large","showListCheckbox":"false","textAlign":"left","productTitleSize":"18px","managePaymentMethodBtnFontSize":"14px","popupTextAlign":"center","header":"<p><a href=\"https://airmusictech.onfastspring.com\"> Products </a><a href=\"http://www.airmusictech.com/company\"> Company </a><a href=\"http://community.airmusictech.com/airmusictech\"> Community </a><a href=\"http://www.airmusictech.com/news\"> News </a><a href=\"http://www.airmusictech.com/store\"> Store </a><a href=\"http://www.airmusictech.com/support\"> Support </a><a href=\"http://airmusictech.onfastspring.com/account\">My Account</a></p>","forcePhoneNumberCollection":"false","couponFieldExpanded":"true","shortCheckout":"true","savePaymentDetailsBtnFontSize":"14px","popupOnTimeout":"true","title":"AIR Music Checkout","addPaymentMethodBtnFontSize":"12px","forcePhysicalAddressCollection":"true","popupCoupon":"SAVE10NOW","popupButtonAlign":"center","confirmOkBtnFontSize":"14px","customIdGTM":"","addToCartBtnFontSize":"14px","crossSellsPositionStorefront":"inside","logoRetina":"https://d8y8nchqlnmka.cloudfront.net/M4tJVbQ6Szk/Llp2KJj5QyU/air_logo2012WH.png","showEmailOnCartPage":"payment","popupImage":"https://d8y8nchqlnmka.cloudfront.net/M4tJVbQ6Szk/WXKDrzv8R58/save10Popup.jpg","customIdGA":"","hideFree":"false","manageSubscriptionBtnFontSize":"14px"},"session":{"location":"https://airmusictech.onfastspring.com/session/VK7lm2ZyTA6ImqQPREAQ7A/complete","sandbox":"https://d2kl989519khzp.cloudfront.net/airmusictech","token":"fW-5Dg33Qu6s7pyF61tvaA","companyId":"airmusictech","primary":"airmusictech","id":"VK7lm2ZyTA6ImqQPREAQ7A","ipAddress":"178.82.215.219","live":true},"events":[],"orderDate":1605781287198,"currentTime":1605781288979,"paymentOption":{"type":"free","requireContact":false,"requireBillingPostal":false,"requireCard":false,"requireShipping":true,"requireCustomerReference":false,"match":false,"display":"","visible":true,"supportRecurring":false},"buyerEmail":"mail@marclandolt.ch","shipping":{"street":"Neuenburgerstrasse 6","city":"Aarau","region":"Aargau","postalCode":"5004","country":"CH"},"language":"de","autoRenew":true}
</script>

<!-- Bank Payment Wire Instruction Dialog -->
<!--I'm pretty sure this isn't used anymore-->
<script type="text/ng-template" id="bankPaymentWireInstructionDialog.html">
    <div class="modal-header">
        <button type="button" class="close" ng-click="cancel()" aria-hidden="true">&#215;</button>
        <h4 class="modal-title">{{ 'BankPaymentWireInstructionDialogTitle' | phrase }}</h4>
    </div>

    <div class="modal-body">
        <p>{{ 'BankPaymentWireInstructionDialogIntroduction' | phrase }}</p>
        <table class="table table-bordered wire-transfer">
            <tbody>
            <tr>
                <td><b>{{ 'BankPaymentWireInstructionAccountHolder' | phrase }}</b></td>
                <td>{{ instruction.accountHolder }}</td>
            </tr>
            <tr>
                <td><b>{{ 'BankPaymentWireInstructionPaymentReference' | phrase }}</b></td>
                <td>{{ instruction.paymentReference }}</td>
            </tr>
            <tr>
                <td>{{ 'BankPaymentWireInstructionBank' | phrase }}</td>
                <td>{{ instruction.bankName }}</td>
            </tr>
            <tr>
                <td>{{ 'BankPaymentWireInstructionBankAddress' | phrase }}</td>
                <td>{{ instruction.city }}, {{ instruction.country }}</td>
            </tr>
            <tr ng-show="instruction.accountNumber">
                <td>{{ 'BankPaymentWireInstructionAccountNo' | phrase }}</td>
                <td>{{ instruction.accountNumber }}</td>
            </tr>
            <tr ng-show="instruction.routingNumber">
                <td>{{ 'BankPaymentWireInstructionRoutingNumber' | phrase }}</td>
                <td>{{ instruction.routingNumber }}</td>
            </tr>
            <tr ng-show="instruction.swiftCode">
                <td>{{ 'BankPaymentWireInstructionSwiftCode' | phrase }}</td>
                <td>{{ instruction.swiftCode }}</td>
            </tr>
            <tr ng-show="instruction.specialId">
                <td/>
                <td>{{ instruction.specialId }}</td>
            </tr>
            <tr ng-show="instruction.IBAN">
                <td>{{ 'BankPaymentWireInstructionIban' | phrase }}</td>
                <td>{{ instruction.IBAN }}</td>
            </tr>
            </tbody>
        </table>
    </div>
</script>

<script type="text/ng-template" id="complete-item.html">
    <td align="center" class="product-cell">
        <div ng-show="item.image" class="product-image" ng-style="imageStyle(item)"></div>
    </td>
    <td >
        <div>
            <strong class="product-title">
                <span ng-bind-html="item.display"></span>
            </strong>

            <!-- //Custom badges from attributes -->
            <span ng-if ="item.bundle" class="label label-success label-as-badge"> {{'Bundle' | phrase }}</span>
            <span ng-if ="item.attributes.customBadge" ng-style="customColor(item.attributes.customBadgeColor)" class="label label-as-badge custom-badge"> {{item.attributes.customBadge}} </span>

            <s class="small text-muted" ng-if="item.unitDiscountValue > 0"> {{item.price}}</s>
            <span ng-class="{'text-success': item.priceValue == 0, 'text-danger price-color': item.priceValue != 0 && item.priceValue != item.unitPriceValue, 'text-muted': item.priceValue != 0 && item.priceValue == item.unitPriceValue}"
                  ng-hide="variables.hideFree === 'true' && showTerms && item.unitDiscountValue === 0 && item.unitPriceValue === 0">
                {{item.unitPrice}}
            </span>

            <!-- // x2 quantity -->
            <span ng-if="item.quantity" class="label label-default"> {{'x' + item.quantity}} </span>
            <p class="item-terms" ng-show="item.terms" ng-bind-html="item.terms"></p>
        </div>

        <!-- //Renew/renews part -->
        <div ng-if="item.subscription" renews-checkbox subscription="item.subscription" item="item" language="language"></div>


        <!-- // Files instructions licences -->
        <div ng-include="'files-instructions-licences.html'"></div>

        <!-- // Display Bundles -->
        <table width ="100%" class="well well-sm table" ng-repeat="ordergroup in item.groups" ng-show="ordergroup.type == 'bundle'">
            <tr ng-repeat="item in ordergroup.items" bundle-item item="item">
        </table>


    </td>
    <td class="last-price-row hidden-xs" colspan="2">
        <!--div class="price-row" ng-if="!item.subscription || item.subscription.intervalUnit=='adhoc'">
            <div class="price {{item.unitPrice |priceColor}} price-item"> {{ item.total }}</div>
            <span class="label label-default price-item"> {{'x' + item.quantity}}</span>
        </div-->

        <div ng-if="!item.autoRenew || item.subscription.intervalUnit=='adhoc'" ng-include="'price-row.html'"> </div>

        <div ng-if="item.autoRenew && !(item.subscription.intervalUnit=='adhoc')" ng-include="'subscriptions-price-row.html'"> </div>
    </td>

</script>


<script type="text/ng-template" id="files-instructions-licences.html">
    <!-- //Download files -->
    <div class="fulfillment fulfillment-button">
        <!--// one file to download-->
        <a target="_blank" ng-show="files.length == 1" class="btn btn-sm btn-primary downloadFulfillmentBtn" href="{{ files[0].file }}">
              {{'DownloadAction' | phrase}}
        </a>

        <!--//more than one file to download-->
        <div class="btn-group" dropdown ng-show="files.length > 1">
            <button type="button" class="btn btn-sm btn-primary dropdown-toggle downloadFulfillmentBtn" dropdown-toggle >
                {{'DownloadAction' | phrase}} <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu" >
                <li ng-repeat="file in files"><a target="_blank" href="{{ file.file }}">{{file.display}} ({{ (file.size / 1024 / 1024).toFixed(2) }}MB)</a></li>
            </ul>
        </div>
    </div>

    <!--// Licences-->
    <div class="fulfillment" ng-show="variables.licenses == 'true' && licenses">
        <div ng-repeat="license in licenses">
            <!--//<span class="total-label" ng-show="license.display"> {{license.display}}: </span> -->
            <span class="fulfillment-license"> <code ng-if="license.license" ng-bind-html="addBlankTargets(license.license)"> </code></br>  </span>
        </div>
    </div>

    <!-- //Instructions  -->
    <p class="fulfillment" ng-if="item.fulfillments.instructions" ng-bind-html="addBlankTargets(item.fulfillments.instructions)"></p>

</script>

<script type="text/ng-template" id="addon-item.html">
    <td align="center" class="product-cell">
        <div ng-show="item.image" class="product-image" ng-style="imageStyle(item)"></div>
    </td>

    <td >
        <div>
            <strong class="product-title">
                <span ng-bind-html="item.display"></span>
            </strong>

            <!-- //Custom badges from attributes -->
            <span ng-if ="item.bundle" class="label label-success label-as-badge"> {{'Bundle' | phrase }}</span>

            <s class="small text-muted" ng-if="item.unitDiscountValue > 0"> {{item.price}}</s>
            <span ng-class="{'text-success': item.priceValue == 0, 'text-danger price-color': item.priceValue != 0 && item.priceValue != item.unitPriceValue, 'text-muted': item.priceValue != 0 && item.priceValue == item.unitPriceValue}"> {{item.unitPrice}}</span>

            <!-- // x2 quantity -->
            <span ng-if="item.quantity" class="label label-default"> {{'x' + item.quantity}} </span>
            <p class="item-terms" ng-show="item.terms" ng-bind-html="item.terms"></p>
        </div>

        <div>
            <span class="bordered-muted inline-block renews-block text-muted">
                {{ 'SubscriptionAddonTerms.Single' | phrase }}
            </span>
        </div>

        <!-- // Files instructions licences -->
        <div ng-include="'files-instructions-licences.html'"></div>

        <!-- // Display Bundles -->
        <table width ="100%" class="well well-sm table" ng-repeat="ordergroup in item.groups" ng-show="ordergroup.type == 'bundle'">
            <tr ng-repeat="item in ordergroup.items" bundle-item item="item">
        </table>
    </td>

    <td class="last-price-row hidden-xs" colspan="2">
        <div ng-if="!item.autoRenew || item.subscription.intervalUnit=='adhoc'" ng-include="'price-row.html'"> </div>

        <div ng-if="item.autoRenew && !(item.subscription.intervalUnit=='adhoc')" ng-include="'subscriptions-price-row.html'"> </div>
    </td>
</script>

<script type="text/ng-template" id="bundle-item.html">
    <td class="bundle-cell">
        <div ng-show="item.image" class="complete-bundle-image" ng-style="imageStyle(item)"> </div>
    </td>
    <td>
        <div>
            <strong class="product-title"><span ng-bind-html="item.display"></span></strong>
        </div>

        <!-- // Files instructions licences -->
        <div ng-include="'files-instructions-licences.html'"></div>
    </td>
</script>

<script type="text/ng-template" id="renews-checkbox.html">
    <!-- //Renews every [period length] starting today and ending on [end date] -->
    <!--<a href="{{accountManagement}}" target="_blank" title="{{'SubscriptionManagement' | phrase}}" ng-hide="subscriptionType.adhoc" class="inline-block">-->
    <span ng-if="!subscriptionType.adhoc">
        <span ng-if="!subscription.unequalIntervals">
            <span ng-if="item.autoRenew && (savedPaymentInfo || subscriptionType.free)">
                <span ng-if="language === 'de'"> {{'RenewsEvery' | phrase:subscription.germanJede:subscription.intervalLengthAdjusted:subscription.intervalUnitPluralized}} </span>
                <span ng-if="language != 'de'"> {{'RenewsEvery' | phrase:subscription.intervalLengthAdjusted:subscription.intervalUnitPluralized}} </span>
            </span>
            <span ng-if="item.autoRenew && !(savedPaymentInfo || subscriptionType.free)">
                <span ng-if="language === 'de'"> {{'MustBeRenewedEvery' | phrase:subscription.germanJede:subscription.intervalLengthAdjusted:subscription.intervalUnitPluralized}} </span>
                <span ng-if="language != 'de'"> {{'MustBeRenewedEvery' | phrase:subscription.intervalLengthAdjusted:subscription.intervalUnitPluralized}} </span>
            </span>

            <!-- //Free: Renews every {x} for free -->
            <span ng-if="subscriptionType.free"> {{ 'ForFree' | phrase }}</span>

            <!-- //not free: Renews every {x}. First/next charge: {y} on {z} -->
            <span ng-if="!subscriptionType.free">
                <span class="comma">&#46;</span>

                <span ng-if="savedPaymentInfo">
                    <span ng-if="subscriptionType.hasTrial && subscription.nextChargeTotal"> {{"FirstCharge" | phrase}} {{subscription.nextChargeTotal}}</span>
                    <span ng-if="!subscriptionType.hasTrial && subscription.nextChargeTotal"> {{"NextCharge" | phrase}} {{subscription.nextChargeTotal}}</span>
                    <span ng-if="subscription.nextChargeDateValue"> {{"on" | phrase }} {{ isToday(subscription.nextChargeDateValue, subscription.nextChargeDate) }}</span>
                </span>
                <span ng-if="!savedPaymentInfo">
                    <span ng-if="language !== 'zh' && language !== 'ja'">{{"MustBePaidManually" | phrase:subscription.nextChargeTotal:isToday(subscription.nextChargeDateValue, subscription.nextChargeDate)}}</span>
                    <!-- Order within the string of price and date are reversed in chinese and japanese -->
                    <span ng-if="language === 'zh' || language === 'ja'">{{"MustBePaidManually" | phrase:isToday(subscription.nextChargeDateValue, subscription.nextChargeDate):subscription.nextChargeTotal}}</span>
                </span>
            </span>

            <!-- //Finite: Ends on {x} -->
            <span ng-if="subscriptionType.finiteEndDate">
                <span class="comma">&#46;</span>
                {{ 'Ending' | phrase }}
                {{ subscriptionType.finiteEndDate }}
            </span>
        </span>
        <span ng-if="item.autoRenew && subscription.unequalIntervals">
            <span> {{ 'MultipleRebills' | phrase }}. </span> <a href="" ng-click="subscription.showSubscriptionTerms = !subscription.showSubscriptionTerms"> {{ 'Details' | phrase }} </a>
        </span>
    </span>

    <!-- //Adhoc -->
    <!--<a href="{{accountManagement}}" target="_blank" title="{{'SubscriptionManagement' | phrase}}" ng-show="subscriptionType.adhoc" class="inline-block">-->
    <span ng-show="subscriptionType.adhoc" class="inline-block"> {{'RenewsAutomatically'| phrase}} </span>
</script>

<script type="text/ng-template" id="subscriptions-price-row.html">
    <!-- //Iterate instrunctions -->
    <div class="future-row" ng-repeat="instruction in item.subscription.instructions" ng-if="$index == 0 || item.subscription.showSubscriptionTerms">
        <div ng-if="instruction.type !='trial'" ng-include="'subscription.html'"></div>
        <div ng-if="instruction.type == 'trial'" ng-include="'subscription-trial.html'"></div>
    </div>

    <a class="price-item" ng-show="!item.subscription.showSubscriptionTerms" ng-click="item.subscription.showSubscriptionTerms = !item.subscription.showSubscriptionTerms"> {{ 'SubscriptionTerms' | phrase }} </a>
    <a class="price-item" ng-show="item.subscription.showSubscriptionTerms" ng-click="item.subscription.showSubscriptionTerms = !item.subscription.showSubscriptionTerms"> {{ 'HideSubscriptionTerms' | phrase }} </a>
</script>

<script type="text/ng-template" id="subscription.html">
    <div ng-if="$index == 0" ng-include="'price-row-first.html'"></div>
    <div ng-if="$index != 0 && item.subscription.showSubscriptionTerms" ng-include="'price-row-second.html'"></div>
    <!-- //You save text -->
    <!--//Subscription discount-->
    <div ng-show="item.selected && instruction.discountTotalValue != 0" class=" inline-block nowrap-text price-item text-success small">
        <span>{{'YouSaved' | phrase}}:
            <strong>{{instruction.discountTotal}}</strong> ({{instruction.discountPercent}})
        </span>
    </div>

    <div ng-if="item.subscription.showSubscriptionTerms">
        <!-- //subscription renews part -->
        <div class="text-muted price-item small" ng-include="'renews-every.html'" language="language"></div>
        <!--//Coupon discount reason text  -->
        <div class="text-muted" ng-show="item.discount.reason && instruction.discountTotalValue > 0">
            <p class=" price-item small text-muted"> {{item.discount.reason}} </p>
        </div>

        <!--//No Volume pricing on complete page-->
    </div>
</script>

<script type="text/ng-template" id="subscription-trial.html">

    <div ng-include="'price-row-first.html'"></div>

    <div ng-if="item.subscription.showSubscriptionTerms">
        <!-- //Free trial-> If instruction.periodStartDateValue value exist -->
        <div class="text-muted price-item small" ng-show="instruction.periodEndDate">
            <span> {{'FreeTrialUntil' | phrase }} </span>
            <span ng-bind-html="isToday(instruction.periodEndDateValue, instruction.periodEndDate)"> </span>
        </div>

        <!--//No Volume pricing on  complete page-->
    </div>
</script>

<script type="text/ng-template" id="renews-every.html">
    <span ng-if="language === 'de'"> {{germanJede}} </span>
    <span ng-if="language != 'de'"> {{'Every' | phrase}} </span>
    <span ng-show="instruction.intervalLength > 1"> {{instruction.intervalLength}} </span>
    <span ng-bind-html="pluralize(instruction.intervalLength, instruction.intervalUnit)"> </span>

    <!--//starting periodStartDate -->
    <span ng-hide="instruction.discountDurationLength || (instruction.periodEndDate && !$last)"> {{'Starting' | phrase}} </span>
    <span ng-hide="instruction.discountDurationLength || (instruction.periodEndDate && !$last)" ng-if="instruction.periodStartDate" ng-bind-html="isToday(instruction.periodStartDateValue, instruction.periodStartDate)">  </span>
    <!-- //Finite subscription only - if instructions last has periodEndDate -->
    <span ng-if="$last && instruction.periodEndDate"> {{ 'AndEndingOn' | phrase }} {{ instruction.periodEndDate }}</span>


    <!-- //, periodStartDate - PeriodEndDate -->
    <span ng-if="instruction.discountDurationLength || (instruction.periodEndDate && !$last)" class="comma">, </span>
    <span ng-if="instruction.discountDurationLength && instruction.periodStartDate || (instruction.periodEndDate && !$last)" ng-bind-html="isToday(instruction.periodStartDateValue, instruction.periodStartDate)">  </span>
    <span ng-show="instruction.discountDurationLength || (instruction.periodEndDate && !$last)"> - </span>
    <span ng-show="instruction.discountDurationLength || (instruction.periodEndDate && !$last)" ng-bind-html="isToday(instruction.periodEndDateValue, instruction.periodEndDate)"> </span>
</script>

<script type="text/ng-template" id="price-row-first.html">
    <!--//old price-->
    <small class="price-item text-muted" ng-if="instruction.discountPercentValue > 0 && instruction.type != 'trial'"><del> {{ instruction.priceTotal }}</del>
    </small>

    <div class="price-row" ng-hide="variables.hideFree === 'true' && showTerms && item.unitDiscountValue === 0 && item.unitPriceValue === 0">
        <!--//price-->
        <!-- // no unitPrice on complete page - quantity never = allow ->

        <!--//Total price for all items if quantity locked or hidden-->
        <strong class="price-item price {{instruction.total |priceColor}}">{{ instruction.total }}</strong>

        <!-- //Lock - Quantity Not Editable + NOT Removable , and quantity > 0 -->
        <!-- <span ng-show="item.quantity > 1 && item.totalValue > 0" class="label label-default price-item"> {{'x' + item.quantity }}</span> -->

    </div> <!--//end of price-row-div-->
</script>


<script type="text/ng-template" id="price-row-second.html">
    <div class="price-row no-margin">
        <strong class="price-item price {{instruction.total |priceColor}}">{{ instruction.total }}</strong>
        <!--//old price-->
        <small class="price-item text-muted" ng-if="instruction.discountPercentValue > 0"><del> {{instruction.priceTotal }}</del>
        </small>
    </div>
</script>

<script type="text/ng-template" id="price-row.html">
    <!--//old price -->
    <small class="price-item text-muted" ng-if="item.unitDiscountValue"><del> {{item.priceTotal}}</del>
    </small>

    <div class="price-row">
        <!--//price-->
        <strong ng-if="item.pricing.quantity == 'allow' && item.subscription.intervalUnit == 'adhoc'" ng-hide="variables.hideFree === 'true' && showTerms && item.unitDiscountValue === 0 && item.unitPriceValue === 0" class="price-item price {{item.total |priceColor}}">{{ item.total }}</strong>
        <strong ng-if="item.pricing.quantity == 'allow' && item.subscription.intervalUnit != 'adhoc'" ng-hide="variables.hideFree === 'true' && showTerms && item.unitDiscountValue === 0 && item.unitPriceValue === 0" class="price-item price {{item.total |priceColor}}">{{ item.total |price }}</strong>
        <!--//Total price for all items if quantity locked or hidden-->
        <strong ng-if="!(item.pricing.quantity == 'allow')" ng-hide="variables.hideFree === 'true' && showTerms && item.unitDiscountValue === 0 && item.unitPriceValue === 0" class="price-item price {{item.total |priceColor}}">{{ item.total |price }}</strong>

    </div> <!--//end of price-row-div-->

    <!-- //You save text -->
    <div ng-show="item.selected && item.discountPercent && item.discountTotalValue != 0" class="nowrap-text price-item text-success small">
        <div>{{'YouSaved' | phrase}}:
            <strong>{{ item.discountTotal }}</strong> ({{ item.discountPercent }})
        </div>
    </div>
</script>

<script type="text/ng-template" id="testMode.html">
    <div class="arrow"></div>
    <div class="modal-body text-center">
        <p>You are accessing this storefront in test mode. You can purchase products using the card number</p>
        <p><code>4242 4242 4242 4242</code></p>
        <p>and <a href="https://docs.fastspring.com/activity-events-orders-and-subscriptions/test-orders?utm_source=Store&utm_medium=Test_Instructions_Popup&utm_content=Foundation&utm_campaign=Store_Traffic" class="underline-link" target="_blank" rel="noopener noreferrer">CVC code found in the dashboard</a></p>
    </div>
</script>

<script src="AIR%20Music%20Checkout-Dateien/core.js"></script>
<script src="AIR%20Music%20Checkout-Dateien/framework.js"></script>
<script src="AIR%20Music%20Checkout-Dateien/raven.js"></script>
<script src="AIR%20Music%20Checkout-Dateien/angular.js"></script>
<script src="AIR%20Music%20Checkout-Dateien/foundation.js"></script>
<script src="AIR%20Music%20Checkout-Dateien/common.js"></script>
<script src="AIR%20Music%20Checkout-Dateien/sandbox.js"></script>



<div class="apt-guide-overlay-top"></div><div class="apt-guide-overlay-bottom"></div><div class="apt-guide-overlay-left"></div><div class="apt-guide-overlay-right"></div><iframe id="sandbox" src="AIR%20Music%20Checkout-Dateien/complete.html" width="0" height="0" frameborder="0"></iframe></body></html>